openapi: 3.0.1
info:
  description: |+
    # How to generate an API Key?
    - **Organization dropdown** > **Organization Settings** > **API Keys**

    # JSON:API Specification
    Rootly is using **JSON:API** (https://jsonapi.org) specification:
    - JSON:API is a specification for how a client should request that resources be fetched or modified, and how a server should respond to those requests.
    - JSON:API is designed to minimize both the number of requests and the amount of data transmitted between clients and servers. This efficiency is achieved without compromising readability, flexibility, or discoverability.
    - JSON:API requires use of the JSON:API media type (**application/vnd.api+json**) for exchanging data.

    # Authentication and Requests
    We use standard HTTP Authentication over HTTPS to authorize your requests.
    ```
      curl --request GET \
    --header 'Content-Type: application/vnd.api+json' \
    --header 'Authorization: Bearer YOUR-TOKEN' \
    --url https://api.rootly.com/v1/incidents
    ```

    <br/>

    # Rate limiting
    - There is a default limit of **5** **GET**, **HEAD**, and **OPTIONS** calls **per API key** every **60 seconds** (0 hours). The limit is calculated over a **0-hour sliding window** looking back from the current time. While the limit can be configured to support higher thresholds, you must first contact your **Rootly Customer Success Manager** to make any adjustments.
    - There is a default limit of **3** **POST**, **PUT**, **PATCH** or **DELETE** calls **per API key** every **60 seconds** (0 hours). The limit is calculated over a **0-hour sliding window** looking back from the current time. While the limit can be configured to support higher thresholds, you must first contact your **Rootly Customer Success Manager** to make any adjustments.
    - When rate limits are exceeded, the API will return a **429 Too Many Requests** HTTP status code with the response: `{"error": "Rate limit exceeded. Try again later."}`
    - **X-RateLimit headers** are included in every API response, providing real-time rate limit information:
      - **X-RateLimit-Limit** - The maximum number of requests permitted and the time window (e.g., "1000, 1000;window=3600" for 1000 requests per hour)
      - **X-RateLimit-Remaining** - The number of requests remaining in the current rate limit window
      - **X-RateLimit-Used** - The number of requests already made in the current window
      - **X-RateLimit-Reset** - The time at which the current rate limit window resets, in UTC epoch seconds

    # Pagination
    - Pagination is supported for all endpoints that return a collection of items.
    - Pagination is controlled by the **page** query parameter

    ## Example
    ```
      curl --request GET \
    --header 'Content-Type: application/vnd.api+json' \
    --header 'Authorization: Bearer YOUR-TOKEN' \
    --url https://api.rootly.com/v1/incidents?page[number]=1&page[size]=10
    ```

  title: Rootly API v1
  version: v1
  x-logo:
    url: https://rootly-heroku.s3.us-east-1.amazonaws.com/swagger/v1/logo.png
    alt: Rootly
servers:
- url: https://api.rootly.com
paths:
  /v1/alerts/{alert_id}/events:
    get:
      description: List alert_events
      operationId: listAlertEvents
      parameters:
      - explode: false
        in: path
        name: alert_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[kind]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[action]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_event_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert events
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert event
      operationId: createAlertEvent
      parameters:
      - explode: false
        in: path
        name: alert_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_event'
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 00a0b026-903c-47ad-b1be-85c20aa20079
                  type: alert_events
                  attributes:
                    kind: note
                    source: api
                    action: created
                    details: This is a test note
                    user:
                      id: 6
                      ability_cache: null
                      accept_marketing: true
                      accept_terms: true
                      created_at: 2026-01-20T09:40:25.929-08:00
                      created_through_sso: false
                      current_team_id: 2
                      deleted_at: null
                      email: bot@rootly.com
                      external_id: null
                      first_name: Rootly
                      has_impersonate_write_permission: false
                      how_did_you_hear_about_us: null
                      incidents_backfilled_count: 0
                      incidents_count: 0
                      incidents_example_count: 0
                      incidents_normal_count: 0
                      incidents_scheduled_count: 0
                      incidents_test_count: 0
                      is_super_admin: false
                      jti: 6423ee14-2bbf-4678-b8a7-c030d7c457c4
                      last_name: null
                      last_notification_email_sent_at: null
                      last_seen_at: null
                      locale: en
                      onboarding_completed: true
                      opsgenie_id: null
                      pagerduty_id: null
                      profile_photo_id: null
                      push_notification_new_alert_sound: default
                      push_notification_new_alert_volume: 1.0
                      push_notification_shift_coverage_sound: soft_bloob
                      push_notification_shift_ends_sound: soft_bloob
                      push_notification_shift_starts_sound: soft_bloob
                      scim_uid: null
                      service_user: true
                      session_token: null
                      skip_tutorial: false
                      teams_count: 1
                      theme: light_v2
                      time_zone: America/Los_Angeles
                      updated_at: 2026-01-20T09:40:25.929-08:00
                      victor_ops_id: null
                      view_multiple_schedules: true
                    user_id: 6
                    incident: null
                    schedule: null
                    escalation_level: null
                    escalation_target_type: null
                    escalation_target: null
                    slack_channel: null
                    incident_ids: []
                    created_at: 2026-01-20T09:40:26.388-08:00
                    updated_at: 2026-01-20T09:40:26.388-08:00
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert event created with Rootly bot user
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Details can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
      security:
      - bearer_auth: []
      summary: Create alert event
      tags:
      - AlertEvents
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_events/{id}:
    delete:
      description: Deletes a specific alert event. Only alert events with kind 'note'
        (user-created notes) can be deleted. System-generated events are immutable
        to maintain audit trail integrity.
      operationId: deleteAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: alert event deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert event not found
      security:
      - bearer_auth: []
      summary: Delete alert event
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert_event by id
      operationId: getAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 2237eb18-9670-4cfb-8d50-bce50ed59505
                  type: alert_events
                  attributes:
                    kind: note
                    source: api
                    action: created
                    details: test note
                    user:
                      id: 1
                      ability_cache: null
                      accept_marketing: true
                      accept_terms: true
                      created_at: 2026-01-20T09:40:24.155-08:00
                      created_through_sso: false
                      current_team_id: 1
                      deleted_at: null
                      email: will_macejkovic@runte-brakus.example
                      external_id: null
                      first_name: Otis
                      has_impersonate_write_permission: false
                      how_did_you_hear_about_us: null
                      incidents_backfilled_count: 0
                      incidents_count: 0
                      incidents_example_count: 0
                      incidents_normal_count: 0
                      incidents_scheduled_count: 0
                      incidents_test_count: 0
                      is_super_admin: false
                      jti: cfda4e8e-b98d-4cd9-86a4-530a720d5f68
                      last_name: Rodriguez
                      last_notification_email_sent_at: null
                      last_seen_at: null
                      locale: en
                      onboarding_completed: true
                      opsgenie_id: null
                      pagerduty_id: null
                      profile_photo_id: null
                      push_notification_new_alert_sound: default
                      push_notification_new_alert_volume: 1.0
                      push_notification_shift_coverage_sound: soft_bloob
                      push_notification_shift_ends_sound: soft_bloob
                      push_notification_shift_starts_sound: soft_bloob
                      scim_uid: null
                      service_user: false
                      session_token: null
                      skip_tutorial: false
                      teams_count: 1
                      theme: light_v2
                      time_zone: UTC
                      updated_at: 2026-01-20T09:40:24.792-08:00
                      victor_ops_id: null
                      view_multiple_schedules: true
                    user_id: 1
                    incident: null
                    schedule: null
                    escalation_level: null
                    escalation_target_type: null
                    escalation_target: null
                    slack_channel: null
                    incident_ids: []
                    created_at: 2026-01-20T09:40:26.102-08:00
                    updated_at: 2026-01-20T09:40:26.102-08:00
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert_event found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert_event not found
      security:
      - bearer_auth: []
      summary: Retrieve alert event
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    patch:
      description: Updates a specific alert event. Only alert events with kind 'note'
        (user-created notes) can be updated. System-generated events are immutable
        to maintain audit trail integrity.
      operationId: updateAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_event'
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 2237eb18-9670-4cfb-8d50-bce50ed59505
                  type: alert_events
                  attributes:
                    kind: note
                    source: api
                    action: created
                    details: Updated details
                    user:
                      id: 1
                      ability_cache: null
                      accept_marketing: true
                      accept_terms: true
                      created_at: 2026-01-20T09:40:24.155-08:00
                      created_through_sso: false
                      current_team_id: 1
                      deleted_at: null
                      email: will_macejkovic@runte-brakus.example
                      external_id: null
                      first_name: Otis
                      has_impersonate_write_permission: false
                      how_did_you_hear_about_us: null
                      incidents_backfilled_count: 0
                      incidents_count: 0
                      incidents_example_count: 0
                      incidents_normal_count: 0
                      incidents_scheduled_count: 0
                      incidents_test_count: 0
                      is_super_admin: false
                      jti: cfda4e8e-b98d-4cd9-86a4-530a720d5f68
                      last_name: Rodriguez
                      last_notification_email_sent_at: null
                      last_seen_at: null
                      locale: en
                      onboarding_completed: true
                      opsgenie_id: null
                      pagerduty_id: null
                      profile_photo_id: null
                      push_notification_new_alert_sound: default
                      push_notification_new_alert_volume: 1.0
                      push_notification_shift_coverage_sound: soft_bloob
                      push_notification_shift_ends_sound: soft_bloob
                      push_notification_shift_starts_sound: soft_bloob
                      scim_uid: null
                      service_user: false
                      session_token: null
                      skip_tutorial: false
                      teams_count: 1
                      theme: light_v2
                      time_zone: UTC
                      updated_at: 2026-01-20T09:40:24.792-08:00
                      victor_ops_id: null
                      view_multiple_schedules: true
                    user_id: 1
                    incident: null
                    schedule: null
                    escalation_level: null
                    escalation_target_type: null
                    escalation_target: null
                    slack_channel: null
                    incident_ids: []
                    created_at: 2026-01-20T09:40:26.102-08:00
                    updated_at: 2026-01-20T09:40:26.703-08:00
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert event updated
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Details can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
      security:
      - bearer_auth: []
      summary: Update alert event
      tags:
      - AlertEvents
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_fields:
    get:
      description: List alert fields
      operationId: listAlertFields
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[kind]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_field_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert fields
      tags:
      - AlertFields
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert field from provided data
      operationId: createAlertField
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_field'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 992bf325-71e5-4a65-8f2d-2d7e932562b6
                  type: alert_fields
                  attributes:
                    slug: custom-field-test
                    name: Custom Field Test
                    kind: custom
                    created_at: 2026-01-20T09:40:29.165-08:00
                    updated_at: 2026-01-20T09:40:29.165-08:00
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: alert field created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert field
      tags:
      - AlertFields
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_fields/{id}:
    delete:
      description: Delete a specific alert field by id
      operationId: deleteAlertField
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 330f8998-7ca5-408e-ba15-ef9c6c558048
                  type: alert_fields
                  attributes:
                    slug: alert-field-12
                    name: Alert Field 12
                    kind: custom
                    created_at: 2026-01-20T09:40:29.956-08:00
                    updated_at: 2026-01-20T09:40:30.043-08:00
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: custom alert field deleted successfully
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Cannot delete record because dependent alert routing rule
                    conditions exist
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cannot delete alert field with associated records
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert field
      tags:
      - AlertFields
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert field by id
      operationId: getAlertField
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: cd426bd7-ec52-4077-9a6c-9848f7b53ef8
                  type: alert_fields
                  attributes:
                    slug: alert-field-1
                    name: Alert Field 1
                    kind: custom
                    created_at: 2026-01-20T09:40:28.117-08:00
                    updated_at: 2026-01-20T09:40:28.117-08:00
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: alert_field found by slug
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert field
      tags:
      - AlertFields
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert field by id
      operationId: updateAlertField
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_field'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: cd426bd7-ec52-4077-9a6c-9848f7b53ef8
                  type: alert_fields
                  attributes:
                    slug: alert-field-1
                    name: Updated Custom Field
                    kind: custom
                    created_at: 2026-01-20T09:40:28.117-08:00
                    updated_at: 2026-01-20T09:40:29.688-08:00
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: alert field updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert field
      tags:
      - AlertFields
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_groups:
    get:
      description: List alert groups
      operationId: listAlertGroups
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_group_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert groups
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    post:
      description: "Creates a new alert group. **Note**: For enhanced functionality\
        \ and future compatibility, consider using the advanced alert grouping with\
        \ `conditions` field instead of the legacy `group_by_alert_title`, `group_by_alert_urgency`,\
        \ and `attributes` fields."
      operationId: createAlertGroup
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_group'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: dcf75c3d-2e54-4b30-b283-c97937cdc1eb
                  type: alert_groups
                  attributes:
                    name: Test alert group
                    slug: test-alert-group
                    description: null
                    time_window: 10
                    condition_type: any
                    deleted_at: null
                    created_at: 2026-01-20T09:40:33.715-08:00
                    updated_at: 2026-01-20T09:40:33.715-08:00
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    targets:
                    - id: 5fec9fd9-0c3e-445e-9434-3f5b6f9bf74c
                      alert_group_id: dcf75c3d-2e54-4b30-b283-c97937cdc1eb
                      created_at: 2026-01-20T09:40:33.716-08:00
                      deleted_at: null
                      target_id: cd88c963-6fac-4068-8968-6d2be9cffc23
                      target_type: Service
                      updated_at: 2026-01-20T09:40:33.716-08:00
                    attributes: []
                    conditions:
                    - id: 498a033b-e15c-4405-94bd-0b7f0e75e98c
                      property_field_condition_type: is_one_of
                      property_field_name: description
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values:
                      - Test description
                      created_at: 2026-01-20T09:40:33.717-08:00
                      updated_at: 2026-01-20T09:40:33.717-08:00
                      conditionable_type: null
                      conditionable_id: null
                    - id: 22a1bb84-62c3-4447-b0e8-959bc765ab00
                      property_field_condition_type: is_one_of
                      property_field_name: alert_urgency
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values: []
                      created_at: 2026-01-20T09:40:33.720-08:00
                      updated_at: 2026-01-20T09:40:33.720-08:00
                      conditionable_type: null
                      conditionable_id: null
                      values:
                      - record_id: 912a217e-4c5a-40be-a630-2af76994b89d
                        record_type: AlertUrgency
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group created with conditions
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
                - title: Destinations can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert group
      tags:
      - AlertGroups
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_groups/{id}:
    delete:
      description: Delete a specific alert group by id
      operationId: deleteAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4edc88ce-48ba-474f-98c1-9b2204646263
                  type: alert_groups
                  attributes:
                    name: 123 test group
                    slug: 123-test-group
                    description: null
                    time_window: 10
                    condition_type: any
                    deleted_at: 2026-01-20T09:40:34.681-08:00
                    created_at: 2026-01-20T09:40:33.398-08:00
                    updated_at: 2026-01-20T09:40:34.681-08:00
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    targets: []
                    attributes: []
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert group
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert group by id
      operationId: getAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4edc88ce-48ba-474f-98c1-9b2204646263
                  type: alert_groups
                  attributes:
                    name: 123 test group
                    slug: 123-test-group
                    description: null
                    time_window: 10
                    condition_type: any
                    deleted_at: null
                    created_at: 2026-01-20T09:40:33.398-08:00
                    updated_at: 2026-01-20T09:40:33.398-08:00
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    targets:
                    - id: b9393aef-f30b-44b1-935a-0672226debe3
                      alert_group_id: 4edc88ce-48ba-474f-98c1-9b2204646263
                      created_at: 2026-01-20T09:40:33.400-08:00
                      deleted_at: null
                      target_id: cd88c963-6fac-4068-8968-6d2be9cffc23
                      target_type: Service
                      updated_at: 2026-01-20T09:40:33.400-08:00
                    attributes: []
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert_group found by slug
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert group
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    patch:
      description: "Update a specific alert group by id. **Note**: For enhanced functionality\
        \ and future compatibility, consider using the advanced alert grouping with\
        \ `conditions` field instead of the legacy `group_by_alert_title`, `group_by_alert_urgency`,\
        \ and `attributes` fields."
      operationId: updateAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_group'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4edc88ce-48ba-474f-98c1-9b2204646263
                  type: alert_groups
                  attributes:
                    name: Group name updated
                    slug: 123-test-group
                    description: null
                    time_window: 10
                    condition_type: any
                    deleted_at: null
                    created_at: 2026-01-20T09:40:33.398-08:00
                    updated_at: 2026-01-20T09:40:34.467-08:00
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    targets:
                    - id: b9393aef-f30b-44b1-935a-0672226debe3
                      alert_group_id: 4edc88ce-48ba-474f-98c1-9b2204646263
                      created_at: 2026-01-20T09:40:33.400-08:00
                      deleted_at: null
                      target_id: cd88c963-6fac-4068-8968-6d2be9cffc23
                      target_type: Service
                      updated_at: 2026-01-20T09:40:33.400-08:00
                    attributes: []
                    conditions:
                    - id: 15cfecb5-9b03-46df-b466-59c047208cf4
                      property_field_condition_type: is_one_of
                      property_field_name: description
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values:
                      - Test description
                      created_at: 2026-01-20T09:40:34.468-08:00
                      updated_at: 2026-01-20T09:40:34.468-08:00
                      conditionable_type: null
                      conditionable_id: null
                    - id: 77a651fb-1378-4d92-8984-924e31e89f32
                      property_field_condition_type: is_one_of
                      property_field_name: alert_urgency
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values: []
                      created_at: 2026-01-20T09:40:34.470-08:00
                      updated_at: 2026-01-20T09:40:34.470-08:00
                      conditionable_type: null
                      conditionable_id: null
                      values:
                      - record_id: 912a217e-4c5a-40be-a630-2af76994b89d
                        record_type: AlertUrgency
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group updated with conditions
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert group
      tags:
      - AlertGroups
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routes:
    get:
      description: "List all alert routes for the current team with filtering and\
        \ pagination. **Note: This endpoint requires access to Advanced Alert Routing.\
        \ If you're unsure whether you have access to this feature, please contact\
        \ Rootly customer support.**"
      operationId: listAlertRoutes
      parameters:
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                - id: 0b7dbfc3-3adf-45b3-9057-5f8c94acca0c
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-4672
                    enabled: true
                    created_at: 2026-01-20T09:40:38.124-08:00
                    updated_at: 2026-01-20T09:40:38.124-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: d03596d7-c31a-4ed0-9e81-4eea2efe181f
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-68fb
                    enabled: true
                    created_at: 2026-01-20T09:40:38.120-08:00
                    updated_at: 2026-01-20T09:40:38.120-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: a62e5227-a4b6-4564-a001-f9ee441d8db7
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-19f1
                    enabled: true
                    created_at: 2026-01-20T09:40:38.114-08:00
                    updated_at: 2026-01-20T09:40:38.114-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: e59f2c6e-4ba2-40eb-ba43-df4100d23ee5
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-ab22
                    enabled: true
                    created_at: 2026-01-20T09:40:38.106-08:00
                    updated_at: 2026-01-20T09:40:38.106-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: a9690b1c-33f0-4658-8c5a-0ff843604763
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-3e4f
                    enabled: true
                    created_at: 2026-01-20T09:40:38.100-08:00
                    updated_at: 2026-01-20T09:40:38.100-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 9f1436cb-5174-4db2-a565-234515cc5535
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-d193
                    enabled: true
                    created_at: 2026-01-20T09:40:38.094-08:00
                    updated_at: 2026-01-20T09:40:38.094-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 7b87b02a-ff3d-4432-b348-59bcfef60571
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-e9bc
                    enabled: true
                    created_at: 2026-01-20T09:40:38.086-08:00
                    updated_at: 2026-01-20T09:40:38.086-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 5c791765-e184-42fc-91a7-6aa73ef2e6dd
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-f863
                    enabled: true
                    created_at: 2026-01-20T09:40:38.078-08:00
                    updated_at: 2026-01-20T09:40:38.078-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 0c9d8e3e-c27a-4b5a-bf1c-2a5bbe316f23
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-56c9
                    enabled: true
                    created_at: 2026-01-20T09:40:38.072-08:00
                    updated_at: 2026-01-20T09:40:38.072-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 89897ccd-8afd-4883-acf2-e551294d16a9
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-885e
                    enabled: true
                    created_at: 2026-01-20T09:40:38.060-08:00
                    updated_at: 2026-01-20T09:40:38.060-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 2f2f878a-3d75-4ae9-b27c-dd44a10e26e0
                  type: alert_routes
                  attributes:
                    name: Alert Routing Rule 2
                    enabled: false
                    created_at: 2026-01-20T09:40:37.899-08:00
                    updated_at: 2026-01-20T09:40:37.899-08:00
                    alerts_source_ids:
                    - f159cd40-ba46-4f1d-a4bf-2a08c0ae1595
                    owning_team_ids:
                    - cb8b4c67-a324-4e1c-854e-c2e1412afb1d
                    rules:
                    - id: 3dab21a8-959d-4efd-afcc-52eaed34f706
                      name: Alert Routing Rule 2
                      alerts_source_id: f159cd40-ba46-4f1d-a4bf-2a08c0ae1595
                      condition_type: all
                      enabled: false
                      position: 1
                      destination:
                        target_type: EscalationPolicy
                        target_id: 89d39e1f-9ca8-4e8d-ba70-ab93e6a95e7d
                      created_at: 2026-01-20T09:40:37.909-08:00
                      updated_at: 2026-01-20T09:40:37.909-08:00
                      destinations:
                      - target_type: EscalationPolicy
                        target_id: 89d39e1f-9ca8-4e8d-ba70-ab93e6a95e7d
                      condition_groups: []
                      owning_teams:
                      - id: cb8b4c67-a324-4e1c-854e-c2e1412afb1d
                        slug: nesciunt-et-placeat-ad
                        name: Nesciunt et placeat ad.
                        description: null
                        color: '#E65252'
                        position: 1
                        notify_emails: []
                        slack_channels: []
                        slack_aliases: []
                        pagerduty_id: null
                        pagerduty_service_id: null
                        backstage_id: null
                        external_id: null
                        opsgenie_id: null
                        victor_ops_id: null
                        pagertree_id: null
                        cortex_id: null
                        service_now_ci_sys_id: null
                        user_ids: []
                        admin_ids: []
                        incidents_count: 0
                        alert_urgency_id: null
                        alerts_email_enabled: false
                        alerts_email_address: group-a96f3b93d3c9572c7e63162a6b4be98b@email.rootly.com
                        alert_broadcast_enabled: false
                        alert_broadcast_channel: {}
                        incident_broadcast_enabled: false
                        incident_broadcast_channel: {}
                        auto_add_members_when_attached: false
                        created_at: 2026-01-20T09:40:36.126-08:00
                        updated_at: 2026-01-20T09:40:36.126-08:00
                      fallback_rule: false
                links:
                  self: http://www.example.com/v1/alert_routes?page%5Bnumber%5D=1&page%5Bsize%5D=50
                  first: http://www.example.com/v1/alert_routes?page%5Bnumber%5D=1&page%5Bsize%5D=50
                  prev: null
                  next: null
                  last: http://www.example.com/v1/alert_routes?page%5Bnumber%5D=1&page%5Bsize%5D=50
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_count: 11
                  total_pages: 1
              schema:
                $ref: '#/components/schemas/alert_route_list'
          description: alert routes filtered by search
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: List alert routes
      tags:
      - AlertRoutes
      x-accepts:
      - application/vnd.api+json
    post:
      description: |-
        Creates a new alert route from provided data. **Note: This endpoint requires access to Advanced Alert Routing. If you're unsure whether you have access to this feature, please contact Rootly customer support.**

        ## Asynchronous Rule Creation

        For organizations with large numbers of routing rules, Rootly supports asynchronous rule processing to improve performance. When enabled, rule creation happens in the background.

        **Important**: When async processing is enabled, the rules list in the API response will not be up-to-date immediately after creation. You should refetch the alert route after a few minutes to get the updated rules.

        If you experience slow operations when managing alert routes with many rules, contact Rootly customer support to enable asynchronous rule processing for your organization.
      operationId: createAlertRoute
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_route'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 3783c976-fcb7-49d3-8ca3-ca3e3f5de2be
                  type: alert_routes
                  attributes:
                    name: Test Alert Route e12a
                    enabled: true
                    created_at: 2026-01-20T09:40:39.481-08:00
                    updated_at: 2026-01-20T09:40:39.481-08:00
                    alerts_source_ids:
                    - cd437785-a638-4196-8895-fdb018118099
                    owning_team_ids:
                    - cb8b4c67-a324-4e1c-854e-c2e1412afb1d
                    rules:
                    - id: 22c0129c-312f-427d-b823-bc85ee6e6fe4
                      name: Test Routing Rule
                      alerts_source_id: null
                      condition_type: all
                      enabled: true
                      position: 1
                      destination:
                        target_type: Group
                        target_id: cb8b4c67-a324-4e1c-854e-c2e1412afb1d
                      created_at: 2026-01-20T09:40:39.485-08:00
                      updated_at: 2026-01-20T09:40:39.485-08:00
                      destinations:
                      - target_type: Group
                        target_id: cb8b4c67-a324-4e1c-854e-c2e1412afb1d
                      condition_groups:
                      - position: 1
                        conditions:
                        - property_field_condition_type: is_one_of
                          property_field_name: summary
                          property_field_type: attribute
                          property_field_value: null
                          property_field_values:
                          - Error from system
                          conditionable_id: null
                          conditionable_type: null
                      owning_teams: []
                      fallback_rule: false
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: unknown attribute filtered out gracefully
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: "create: raises error when multiple fallback rules are present"
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: Creates an alert route
      tags:
      - AlertRoutes
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routes/{id}:
    delete:
      description: "Delete a specific alert route by id. **Note: This endpoint requires\
        \ access to Advanced Alert Routing. If you're unsure whether you have access\
        \ to this feature, please contact Rootly customer support.**"
      operationId: deleteAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 89897ccd-8afd-4883-acf2-e551294d16a9
                  type: alert_route
                  attributes:
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleteAlertRoute_200_response'
          description: alert route deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: destroy failed
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: Delete an alert route
      tags:
      - AlertRoutes
      x-accepts:
      - application/vnd.api+json
    get:
      description: "Get a specific alert route by id. **Note: This endpoint requires\
        \ access to Advanced Alert Routing. If you're unsure whether you have access\
        \ to this feature, please contact Rootly customer support.**"
      operationId: getAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 89897ccd-8afd-4883-acf2-e551294d16a9
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-885e
                    enabled: true
                    created_at: 2026-01-20T09:40:38.060-08:00
                    updated_at: 2026-01-20T09:40:38.060-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: alert route found
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: Get an alert route
      tags:
      - AlertRoutes
      x-accepts:
      - application/vnd.api+json
    put:
      description: |-
        Update a specific alert route by id. **Note: This endpoint requires access to Advanced Alert Routing. If you're unsure whether you have access to this feature, please contact Rootly customer support.**

        ## Asynchronous Rule Creation

        For organizations with large numbers of routing rules, Rootly supports asynchronous rule processing to improve performance. When enabled, rule updates happen in the background.

        **Important**: When async processing is enabled, the rules list in the API response will not be up-to-date immediately after update. You should refetch the alert route after a few minutes to get the updated rules.

        If you experience slow operations when managing alert routes with many rules, contact Rootly customer support to enable asynchronous rule processing for your organization.
      operationId: updateAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_route'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 89897ccd-8afd-4883-acf2-e551294d16a9
                  type: alert_routes
                  attributes:
                    name: Updated Alert Route Name
                    enabled: false
                    created_at: 2026-01-20T09:40:38.060-08:00
                    updated_at: 2026-01-20T09:40:43.816-08:00
                    alerts_source_ids:
                    - cd437785-a638-4196-8895-fdb018118099
                    owning_team_ids: []
                    rules: []
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: "update: handles mixed position types correctly"
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: "update: raises error when multiple fallback rules are present"
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
      security:
      - bearer_auth: []
      summary: Update an alert route
      tags:
      - AlertRoutes
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routing_rules:
    get:
      description: "List alert routing rules. **Note: If you are an advanced alert\
        \ routing user, you should use the Alert Routes endpoint instead of this endpoint.\
        \ If you don't know whether you are an advanced user, please contact Rootly\
        \ customer support.**"
      operationId: listAlertRoutingRules
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_routing_rule_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert routing rules
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    post:
      description: "Creates a new alert routing rule from provided data. **Note: If\
        \ you are an advanced alert routing user, you should use the Alert Routes\
        \ endpoint instead of this endpoint. If you don't know whether you are an\
        \ advanced user, please contact Rootly customer support.**"
      operationId: createAlertRoutingRule
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_routing_rule'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: cd3df40d-6d79-4981-b289-73d215ad7c4c
                  type: alert_routing_rules
                  attributes:
                    name: Test Alert Routing Rule 1
                    alerts_source_id: e8a15f13-07e3-45f7-b953-29e4de1d5867
                    condition_type: all
                    enabled: false
                    position: 2
                    destination:
                      target_type: Group
                      target_id: 97560dac-3393-4936-818d-0b4178ed1e9e
                    created_at: 2026-01-20T09:41:00.621-08:00
                    updated_at: 2026-01-20T09:41:00.621-08:00
                    destinations:
                    - target_type: Group
                      target_id: 97560dac-3393-4936-818d-0b4178ed1e9e
                    conditions:
                    - property_field_condition_type: is_one_of
                      property_field_name: description
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values:
                      - Open
                      conditionable_id: null
                      conditionable_type: null
                  relationships:
                    owning_teams:
                      data:
                      - id: 97560dac-3393-4936-818d-0b4178ed1e9e
                        type: groups
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Alert route name can't be blank
                  status: "422"
                - title: Name can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert routing rule
      tags:
      - AlertRoutingRules
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routing_rules/{id}:
    delete:
      description: "Delete a specific alert routing rule by id. **Note: If you are\
        \ an advanced alert routing user, you should use the Alert Routes endpoint\
        \ instead of this endpoint. If you don't know whether you are an advanced\
        \ user, please contact Rootly customer support.**"
      operationId: deleteAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: f7d1d671-c9b3-4c66-a43e-6378ce0cf3f9
                  type: alert_routing_rules
                  attributes:
                    name: Alert Routing Rule 4
                    alerts_source_id: e8a15f13-07e3-45f7-b953-29e4de1d5867
                    condition_type: all
                    enabled: false
                    position: 1
                    destination: null
                    created_at: 2026-01-20T09:40:58.692-08:00
                    updated_at: 2026-01-20T09:41:03.171-08:00
                    destinations: []
                    conditions: []
                  relationships:
                    owning_teams:
                      data:
                      - id: 97560dac-3393-4936-818d-0b4178ed1e9e
                        type: groups
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert routing rule
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    get:
      description: "Retrieves a specific alert routing rule by id. **Note: If you\
        \ are an advanced alert routing user, you should use the Alert Routes endpoint\
        \ instead of this endpoint. If you don't know whether you are an advanced\
        \ user, please contact Rootly customer support.**"
      operationId: getAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: f7d1d671-c9b3-4c66-a43e-6378ce0cf3f9
                  type: alert_routing_rules
                  attributes:
                    name: Alert Routing Rule 4
                    alerts_source_id: e8a15f13-07e3-45f7-b953-29e4de1d5867
                    condition_type: all
                    enabled: false
                    position: 1
                    destination:
                      target_type: EscalationPolicy
                      target_id: 70269fe2-4383-442a-a988-76b05e08a291
                    created_at: 2026-01-20T09:40:58.692-08:00
                    updated_at: 2026-01-20T09:40:58.692-08:00
                    destinations:
                    - target_type: EscalationPolicy
                      target_id: 70269fe2-4383-442a-a988-76b05e08a291
                    conditions: []
                  relationships:
                    owning_teams:
                      data:
                      - id: 97560dac-3393-4936-818d-0b4178ed1e9e
                        type: groups
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert_routing_rule found by slug
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert routing rule
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    put:
      description: "Update a specific alert routing rule by id. **Note: If you are\
        \ an advanced alert routing user, you should use the Alert Routes endpoint\
        \ instead of this endpoint. If you don't know whether you are an advanced\
        \ user, please contact Rootly customer support.**"
      operationId: updateAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_routing_rule'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: f7d1d671-c9b3-4c66-a43e-6378ce0cf3f9
                  type: alert_routing_rules
                  attributes:
                    name: Test Alert Routing Rule 1 (Updated)
                    alerts_source_id: e8a15f13-07e3-45f7-b953-29e4de1d5867
                    condition_type: all
                    enabled: false
                    position: 1
                    destination:
                      target_type: EscalationPolicy
                      target_id: 70269fe2-4383-442a-a988-76b05e08a291
                    created_at: 2026-01-20T09:40:58.692-08:00
                    updated_at: 2026-01-20T09:41:02.289-08:00
                    destinations:
                    - target_type: EscalationPolicy
                      target_id: 70269fe2-4383-442a-a988-76b05e08a291
                    conditions: []
                  relationships:
                    owning_teams:
                      data:
                      - id: 97560dac-3393-4936-818d-0b4178ed1e9e
                        type: groups
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert routing rule
      tags:
      - AlertRoutingRules
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_urgencies:
    get:
      description: List alert urgencies
      operationId: listAlertUrgencies
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_urgency_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert urgencies
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert urgency from provided data
      operationId: createAlertUrgency
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_urgency'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: df834736-3eba-438d-8ecc-8000cb38a11d
                  type: alert_urgencies
                  attributes:
                    name: High
                    description: Hight alert urgency
                    position: 1
                    created_at: 2026-01-20T09:41:06.695-08:00
                    updated_at: 2026-01-20T09:41:06.695-08:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
                - title: Description can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert urgency
      tags:
      - AlertUrgencies
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_urgencies/{id}:
    delete:
      description: Delete a specific alert urgency by id
      operationId: deleteAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4d243c9f-a2a3-4b3f-af6c-7f0df6939d48
                  type: alert_urgencies
                  attributes:
                    name: sbcu9
                    description: Unde quia iste nihil.
                    position: 1
                    created_at: 2026-01-20T09:41:04.442-08:00
                    updated_at: 2026-01-20T09:41:07.950-08:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert urgency
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert urgency by id
      operationId: getAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4d243c9f-a2a3-4b3f-af6c-7f0df6939d48
                  type: alert_urgencies
                  attributes:
                    name: sbcu9
                    description: Unde quia iste nihil.
                    position: 1
                    created_at: 2026-01-20T09:41:04.442-08:00
                    updated_at: 2026-01-20T09:41:04.447-08:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert urgency
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert urgency by id
      operationId: updateAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_urgency'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4d243c9f-a2a3-4b3f-af6c-7f0df6939d48
                  type: alert_urgencies
                  attributes:
                    name: High (Updated)
                    description: Unde quia iste nihil.
                    position: 2
                    created_at: 2026-01-20T09:41:04.442-08:00
                    updated_at: 2026-01-20T09:41:07.514-08:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert urgency
      tags:
      - AlertUrgencies
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_sources:
    get:
      description: List alert sources
      operationId: listAlertsSources
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[statuses]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[source_types]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alerts_source_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert sources
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert source from provided data
      operationId: createAlertsSource
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alerts_source'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: c09a603b-8ed4-4d9c-a703-f19114ef583a
                  type: alert_sources
                  attributes:
                    name: Email Source 1
                    source_type: email
                    status: setup_incomplete
                    secret: 0ed4cd9664fdebd628e1a75453d8b103f11ebc2af089929cc785ad08ff73e85f
                    alert_urgency_id: 12426484-61aa-4bf5-b8b5-aeae51a582a7
                    created_at: 2026-01-20T09:41:11.885-08:00
                    updated_at: 2026-01-20T09:41:11.889-08:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/generic_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes: []
                    alert_source_fields_attributes:
                    - template_body: null
                      created_at: 2026-01-20T09:41:11.894-08:00
                      updated_at: 2026-01-20T09:41:11.894-08:00
                      alert_field_id: f7435402-a3c5-44e0-be4b-b2a06190bc79
                      alert_field:
                        id: f7435402-a3c5-44e0-be4b-b2a06190bc79
                        slug: description-field
                        name: Description Field
                        kind: description
                        created_at: 2026-01-20T09:41:10.129-08:00
                        updated_at: 2026-01-20T09:41:10.129-08:00
                    - template_body: null
                      created_at: 2026-01-20T09:41:11.897-08:00
                      updated_at: 2026-01-20T09:41:11.897-08:00
                      alert_field_id: abbf6c60-292e-42c4-8529-995fccffdd75
                      alert_field:
                        id: abbf6c60-292e-42c4-8529-995fccffdd75
                        slug: title-field
                        name: Title Field
                        kind: title
                        created_at: 2026-01-20T09:41:10.122-08:00
                        updated_at: 2026-01-20T09:41:10.122-08:00
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes:
                      id: 0b15e262-dc74-4d6e-97ba-b808a0930541
                      enabled: true
                      condition_type: all
                      identifier_json_path: $.email.subject
                      identifier_value_regex: ""
                      identifier_matchable_type: null
                      identifier_matchable_id: null
                      identifier_reference_kind: payload
                      conditions_attributes:
                      - id: 1aa05924-fd85-432a-9e3c-dc3886d3880a
                        field: $.email.subject
                        operator: is
                        value: Resolved
                        conditionable_type: null
                        conditionable_id: null
                        kind: payload
                    email: email-source-8105653f9b7859973fa4f890f4405333@test.email.rootly.com
                    accept_threaded_emails: false
                  relationships:
                    alert_source_urgency_rules:
                      data: []
                    alert_source_fields:
                      data:
                      - id: 29299876-a2d4-4086-b049-a7759fd068fd
                        alert_field_id: f7435402-a3c5-44e0-be4b-b2a06190bc79
                        alerts_source_id: c09a603b-8ed4-4d9c-a703-f19114ef583a
                        created_at: 2026-01-20T09:41:11.894-08:00
                        deleted_at: null
                        position: 1
                        template_body: null
                        updated_at: 2026-01-20T09:41:11.894-08:00
                      - id: 48eb4067-8524-4430-8cd5-452cde683be8
                        alert_field_id: abbf6c60-292e-42c4-8529-995fccffdd75
                        alerts_source_id: c09a603b-8ed4-4d9c-a703-f19114ef583a
                        created_at: 2026-01-20T09:41:11.897-08:00
                        deleted_at: null
                        position: 2
                        template_body: null
                        updated_at: 2026-01-20T09:41:11.897-08:00
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source created with resolution rule
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert template attribute when alert fields are enabled
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert source
      tags:
      - AlertSources
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_sources/{id}:
    delete:
      description: Delete a specific alert source by id
      operationId: deleteAlertsSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4d6f6d8e-03b9-4c44-9ca0-6febacc5de02
                  type: alert_sources
                  attributes:
                    name: Alert Source 21
                    source_type: datadog
                    status: setup_incomplete
                    secret: 7156d49f09de38eb089db44f37b9768e4c9dc8de6a3780fc0b449f49f9b3c764
                    alert_urgency_id: 12426484-61aa-4bf5-b8b5-aeae51a582a7
                    created_at: 2026-01-20T09:41:09.924-08:00
                    updated_at: 2026-01-20T09:41:13.217-08:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/datadog_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes: []
                    alert_source_fields_attributes: []
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes: null
                  relationships:
                    alert_source_urgency_rules:
                      data: []
                    alert_source_fields:
                      data: []
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert source
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert source by id
      operationId: getAlertsSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4d6f6d8e-03b9-4c44-9ca0-6febacc5de02
                  type: alert_sources
                  attributes:
                    name: Alert Source 21
                    source_type: datadog
                    status: setup_incomplete
                    secret: 7156d49f09de38eb089db44f37b9768e4c9dc8de6a3780fc0b449f49f9b3c764
                    alert_urgency_id: 12426484-61aa-4bf5-b8b5-aeae51a582a7
                    created_at: 2026-01-20T09:41:09.924-08:00
                    updated_at: 2026-01-20T09:41:09.924-08:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/datadog_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes: []
                    alert_source_fields_attributes: []
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes: null
                  relationships:
                    alert_source_urgency_rules:
                      data: []
                    alert_source_fields:
                      data: []
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert source
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert source by id
      operationId: updateAlertsSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alerts_source'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: c65a5c1a-0239-4481-9206-6c46b8646329
                  type: alert_sources
                  attributes:
                    name: GW 2
                    source_type: generic_webhook
                    status: setup_incomplete
                    secret: 179b25abf6c8190deeeb71041ab9334745004de6128b059f928810199b57158d
                    alert_urgency_id: 12426484-61aa-4bf5-b8b5-aeae51a582a7
                    created_at: 2026-01-20T09:41:12.828-08:00
                    updated_at: 2026-01-20T09:41:12.902-08:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/generic_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes:
                    - id: e254be4e-d072-48be-b200-6a6c7c2a06c6
                      json_path: $.alert.status
                      operator: is
                      value: Critical
                      alert_urgency_id: 763b48ec-5cec-4575-9b6f-20edbd4ea12c
                      alerts_source_id: c65a5c1a-0239-4481-9206-6c46b8646329
                      created_at: 2026-01-20T09:41:12.903-08:00
                      updated_at: 2026-01-20T09:41:12.903-08:00
                      conditionable_type: null
                      conditionable_id: null
                      kind: payload
                    alert_source_fields_attributes:
                    - template_body: null
                      created_at: 2026-01-20T09:41:12.833-08:00
                      updated_at: 2026-01-20T09:41:12.833-08:00
                      alert_field_id: f7435402-a3c5-44e0-be4b-b2a06190bc79
                      alert_field:
                        id: f7435402-a3c5-44e0-be4b-b2a06190bc79
                        slug: description-field
                        name: Description Field
                        kind: description
                        created_at: 2026-01-20T09:41:10.129-08:00
                        updated_at: 2026-01-20T09:41:10.129-08:00
                    - template_body: null
                      created_at: 2026-01-20T09:41:12.837-08:00
                      updated_at: 2026-01-20T09:41:12.837-08:00
                      alert_field_id: abbf6c60-292e-42c4-8529-995fccffdd75
                      alert_field:
                        id: abbf6c60-292e-42c4-8529-995fccffdd75
                        slug: title-field
                        name: Title Field
                        kind: title
                        created_at: 2026-01-20T09:41:10.122-08:00
                        updated_at: 2026-01-20T09:41:10.122-08:00
                    sourceable_attributes:
                      id: 797e6bf2-98c9-4883-a3b6-b425af770670
                      auto_resolve: false
                      resolve_state: null
                      created_at: 2026-01-20T09:41:12.814-08:00
                      updated_at: 2026-01-20T09:41:12.814-08:00
                      field_mappings_attributes: []
                      field_mappings: []
                    alert_template_attributes: null
                    resolution_rule_attributes: null
                  relationships:
                    alert_source_urgency_rules:
                      data:
                      - id: e254be4e-d072-48be-b200-6a6c7c2a06c6
                        alert_urgency_id: 763b48ec-5cec-4575-9b6f-20edbd4ea12c
                        alerts_source_id: c65a5c1a-0239-4481-9206-6c46b8646329
                        conditionable_id: null
                        conditionable_type: null
                        created_at: 2026-01-20T09:41:12.903-08:00
                        deleted_at: null
                        json_path: $.alert.status
                        kind: payload
                        operator: is
                        position: 1
                        updated_at: 2026-01-20T09:41:12.903-08:00
                        value: Critical
                    alert_source_fields:
                      data:
                      - id: 91a609bc-cb03-485c-b00f-7e72101536cd
                        alert_field_id: f7435402-a3c5-44e0-be4b-b2a06190bc79
                        alerts_source_id: c65a5c1a-0239-4481-9206-6c46b8646329
                        created_at: 2026-01-20T09:41:12.833-08:00
                        deleted_at: null
                        position: 1
                        template_body: null
                        updated_at: 2026-01-20T09:41:12.833-08:00
                      - id: 3ef7d087-8db0-4fe0-8a41-bc788845f812
                        alert_field_id: abbf6c60-292e-42c4-8529-995fccffdd75
                        alerts_source_id: c65a5c1a-0239-4481-9206-6c46b8646329
                        created_at: 2026-01-20T09:41:12.837-08:00
                        deleted_at: null
                        position: 2
                        template_body: null
                        updated_at: 2026-01-20T09:41:12.837-08:00
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert source
      tags:
      - AlertSources
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/incidents/{incident_id}/alerts:
    get:
      description: List incident alerts
      operationId: listIncidentAlerts
      parameters:
      - explode: false
        in: path
        name: incident_id
        required: true
        schema:
          type: string
        style: simple
      - description: "comma separated if needed. eg: environments,services,groups"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - environments
          - services
          - groups
          - responders
          - incidents
          - events
          - alert_urgency
          - heartbeat
          - live_call_router
          - alert_group
          - group_leader_alert
          - group_member_alerts
          - alert_field_values
          - alerting_targets
          - escalation_policies
          - alert_call_recording
          - alert_urgency
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_list'
          description: success
      security:
      - bearer_auth: []
      summary: List Incident alerts
      tags:
      - Alerts
      x-accepts:
      - application/vnd.api+json
    post:
      description: Attach alerts to an incident from provided data
      operationId: attachAlert
      parameters:
      - explode: false
        in: path
        name: incident_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/attach_alert'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
[...]
