openapi: 3.0.1
info:
  description: |+
    # How to generate an API Key?
    - **Organization dropdown** > **Organization Settings** > **API Keys**

    # JSON:API Specification
    Rootly is using **JSON:API** (https://jsonapi.org) specification:
    - JSON:API is a specification for how a client should request that resources be fetched or modified, and how a server should respond to those requests.
    - JSON:API is designed to minimize both the number of requests and the amount of data transmitted between clients and servers. This efficiency is achieved without compromising readability, flexibility, or discoverability.
    - JSON:API requires use of the JSON:API media type (**application/vnd.api+json**) for exchanging data.

    # Authentication and Requests
    We use standard HTTP Authentication over HTTPS to authorize your requests.
    ```
      curl --request GET \
    --header 'Content-Type: application/vnd.api+json' \
    --header 'Authorization: Bearer YOUR-TOKEN' \
    --url https://api.rootly.com/v1/incidents
    ```

    <br/>

    # Rate limiting
    - There is a default limit of **5** **GET**, **HEAD**, and **OPTIONS** calls **per API key** every **60 seconds** (0 hours). The limit is calculated over a **0-hour sliding window** looking back from the current time. While the limit can be configured to support higher thresholds, you must first contact your **Rootly Customer Success Manager** to make any adjustments.
    - There is a default limit of **3** **POST**, **PUT**, **PATCH** or **DELETE** calls **per API key** every **60 seconds** (0 hours). The limit is calculated over a **0-hour sliding window** looking back from the current time. While the limit can be configured to support higher thresholds, you must first contact your **Rootly Customer Success Manager** to make any adjustments.
    - When rate limits are exceeded, the API will return a **429 Too Many Requests** HTTP status code with the response: `{"error": "Rate limit exceeded. Try again later."}`
    - **X-RateLimit headers** are included in every API response, providing real-time rate limit information:
      - **X-RateLimit-Limit** - The maximum number of requests permitted and the time window (e.g., "1000, 1000;window=3600" for 1000 requests per hour)
      - **X-RateLimit-Remaining** - The number of requests remaining in the current rate limit window
      - **X-RateLimit-Used** - The number of requests already made in the current window
      - **X-RateLimit-Reset** - The time at which the current rate limit window resets, in UTC epoch seconds

    # Pagination
    - Pagination is supported for all endpoints that return a collection of items.
    - Pagination is controlled by the **page** query parameter

    ## Example
    ```
      curl --request GET \
    --header 'Content-Type: application/vnd.api+json' \
    --header 'Authorization: Bearer YOUR-TOKEN' \
    --url https://api.rootly.com/v1/incidents?page[number]=1&page[size]=10
    ```

  title: Rootly API v1
  version: v1
  x-logo:
    url: https://rootly-heroku.s3.us-east-1.amazonaws.com/swagger/v1/logo.png
servers:
- url: https://api.rootly.com
paths:
  /v1/alerts/{alert_id}/events:
    get:
      description: List alert_events
      operationId: listAlertEvents
      parameters:
      - explode: false
        in: path
        name: alert_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[kind]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[action]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_event_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert events
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert event
      operationId: createAlertEvent
      parameters:
      - explode: false
        in: path
        name: alert_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_event'
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert event created with Rootly bot user
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
      security:
      - bearer_auth: []
      summary: Create alert event
      tags:
      - AlertEvents
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_events/{id}:
    delete:
      description: Deletes a specific alert event. Only alert events with kind 'note'
        (user-created notes) can be deleted. System-generated events are immutable
        to maintain audit trail integrity.
      operationId: deleteAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: alert event deleted
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert event not found
      security:
      - bearer_auth: []
      summary: Delete alert event
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert_event by id
      operationId: getAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert_event found
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert_event not found
      security:
      - bearer_auth: []
      summary: Retrieve alert event
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    patch:
      description: Updates a specific alert event. Only alert events with kind 'note'
        (user-created notes) can be updated. System-generated events are immutable
        to maintain audit trail integrity.
      operationId: updateAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_event'
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert event updated
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
      security:
      - bearer_auth: []
      summary: Update alert event
      tags:
      - AlertEvents
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_fields:
    get:
      description: List alert fields
      operationId: listAlertFields
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[kind]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_field_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert fields
      tags:
      - AlertFields
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert field from provided data
      operationId: createAlertField
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_field'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: alert field created
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert field
      tags:
      - AlertFields
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_fields/{id}:
    delete:
      description: Delete a specific alert field by id
      operationId: deleteAlertField
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: custom alert field deleted successfully
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cannot delete alert field referenced by escalation path field
            rules
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert field
      tags:
      - AlertFields
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert field by id
      operationId: getAlertField
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: alert_field found by slug
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert field
      tags:
      - AlertFields
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert field by id
      operationId: updateAlertField
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_field'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: alert field updated
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert field
      tags:
      - AlertFields
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_groups:
    get:
      description: List alert groups
      operationId: listAlertGroups
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_group_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert groups
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    post:
      description: "Creates a new alert group. **Note**: For enhanced functionality\
        \ and future compatibility, consider using the advanced alert grouping with\
        \ `conditions` field instead of the legacy `group_by_alert_title`, `group_by_alert_urgency`,\
        \ and `attributes` fields."
      operationId: createAlertGroup
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_group'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group created with conditions
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert group
      tags:
      - AlertGroups
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_groups/{id}:
    delete:
      description: Delete a specific alert group by id
      operationId: deleteAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group deleted
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert group
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert group by id
      operationId: getAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert_group found by slug
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert group
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    patch:
      description: "Update a specific alert group by id. **Note**: For enhanced functionality\
        \ and future compatibility, consider using the advanced alert grouping with\
        \ `conditions` field instead of the legacy `group_by_alert_title`, `group_by_alert_urgency`,\
        \ and `attributes` fields."
      operationId: updateAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_group'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group updated with conditions
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert group
      tags:
      - AlertGroups
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routes:
    get:
      description: "List all alert routes for the current team with filtering and\
        \ pagination. **Note: This endpoint requires access to Advanced Alert Routing.\
        \ If you're unsure whether you have access to this feature, please contact\
        \ Rootly customer support.**"
      operationId: listAlertRoutes
      parameters:
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_route_list'
          description: alert routes filtered by search
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: List alert routes
      tags:
      - AlertRoutes
      x-accepts:
      - application/vnd.api+json
    post:
      description: |-
        Creates a new alert route from provided data. **Note: This endpoint requires access to Advanced Alert Routing. If you're unsure whether you have access to this feature, please contact Rootly customer support.**

        ## Asynchronous Rule Creation

        For organizations with large numbers of routing rules, Rootly supports asynchronous rule processing to improve performance. When enabled, rule creation happens in the background.

        **Important**: When async processing is enabled, the rules list in the API response will not be up-to-date immediately after creation. You should refetch the alert route after a few minutes to get the updated rules.

        If you experience slow operations when managing alert routes with many rules, contact Rootly customer support to enable asynchronous rule processing for your organization.
      operationId: createAlertRoute
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_route'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: unknown attribute filtered out gracefully
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: "create: raises error when multiple fallback rules are present"
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: Creates an alert route
      tags:
      - AlertRoutes
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routes/{id}:
    delete:
      description: "Delete a specific alert route by id. **Note: This endpoint requires\
        \ access to Advanced Alert Routing. If you're unsure whether you have access\
        \ to this feature, please contact Rootly customer support.**"
      operationId: deleteAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/deleteAlertRoute_200_response'
          description: alert route deleted
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: destroy failed
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: Delete an alert route
      tags:
      - AlertRoutes
      x-accepts:
      - application/vnd.api+json
    get:
      description: |-
        Get a specific alert route by id. **Note: This endpoint requires access to Advanced Alert Routing. If you're unsure whether you have access to this feature, please contact Rootly customer support.**

        ## Optional Parameters

        - **show_nested_ids** (query parameter): When set to `true`, the response will include IDs for all nested resources (destinations, condition_groups, conditions). This is useful when you need to reference these nested resources for updates or deletions via PATCH requests.

        Example: `GET /v1/alert_routes/{id}?show_nested_ids=true`
      operationId: getAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: alert route found
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: Get an alert route
      tags:
      - AlertRoutes
      x-accepts:
      - application/vnd.api+json
    patch:
      description: "Updates an alert route. **Note: This endpoint requires access\
        \ to Advanced Alert Routing. If you're unsure whether you have access to this\
        \ feature, please contact Rootly customer support.**"
      operationId: patchAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/patch_alert_route'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: delete existing rule by id with _destroy
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
      security:
      - bearer_auth: []
      summary: Update an alert route
      tags:
      - AlertRoutes
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
    put:
      description: |-
        Update a specific alert route by id. **Note: This endpoint requires access to Advanced Alert Routing. If you're unsure whether you have access to this feature, please contact Rootly customer support.**

        ### Asynchronous Rule Creation

        For organizations with large numbers of routing rules, Rootly supports asynchronous rule processing to improve performance. When enabled, rule updates happen in the background.

        **Important**: When async processing is enabled, the rules list in the API response will not be up-to-date immediately after update. You should refetch the alert route after a few minutes to get the updated rules.

        If you experience slow operations when managing alert routes with many rules, contact Rootly customer support to enable asynchronous rule processing for your organization.
      operationId: updateAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_route'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: "update: handles mixed position types correctly"
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: "update: raises error when multiple fallback rules are present"
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
      security:
      - bearer_auth: []
      summary: Update an alert route
      tags:
      - AlertRoutes
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routing_rules:
    get:
      description: "List alert routing rules. **Note: If you are an advanced alert\
        \ routing user, you should use the Alert Routes endpoint instead of this endpoint.\
        \ If you don't know whether you are an advanced user, please contact Rootly\
        \ customer support.**"
      operationId: listAlertRoutingRules
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_routing_rule_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert routing rules
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    post:
      description: "Creates a new alert routing rule from provided data. **Note: If\
        \ you are an advanced alert routing user, you should use the Alert Routes\
        \ endpoint instead of this endpoint. If you don't know whether you are an\
        \ advanced user, please contact Rootly customer support.**"
      operationId: createAlertRoutingRule
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_routing_rule'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule created
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert routing rule
      tags:
      - AlertRoutingRules
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routing_rules/{id}:
    delete:
      description: "Delete a specific alert routing rule by id. **Note: If you are\
        \ an advanced alert routing user, you should use the Alert Routes endpoint\
        \ instead of this endpoint. If you don't know whether you are an advanced\
        \ user, please contact Rootly customer support.**"
      operationId: deleteAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule deleted
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert routing rule
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    get:
      description: "Retrieves a specific alert routing rule by id. **Note: If you\
        \ are an advanced alert routing user, you should use the Alert Routes endpoint\
        \ instead of this endpoint. If you don't know whether you are an advanced\
        \ user, please contact Rootly customer support.**"
      operationId: getAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert_routing_rule found by slug
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert routing rule
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    put:
      description: "Update a specific alert routing rule by id. **Note: If you are\
        \ an advanced alert routing user, you should use the Alert Routes endpoint\
        \ instead of this endpoint. If you don't know whether you are an advanced\
        \ user, please contact Rootly customer support.**"
      operationId: updateAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_routing_rule'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule updated
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert routing rule
      tags:
      - AlertRoutingRules
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_urgencies:
    get:
      description: List alert urgencies
      operationId: listAlertUrgencies
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_urgency_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert urgencies
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert urgency from provided data
      operationId: createAlertUrgency
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_urgency'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency created
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert urgency
      tags:
      - AlertUrgencies
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_urgencies/{id}:
    delete:
      description: Delete a specific alert urgency by id
      operationId: deleteAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency deleted
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert urgency
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert urgency by id
      operationId: getAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency found
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert urgency
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert urgency by id
      operationId: updateAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_urgency'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency updated
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert urgency
      tags:
      - AlertUrgencies
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_sources:
    get:
      description: List alert sources
      operationId: listAlertsSources
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[statuses]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[source_types]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alerts_source_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert sources
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert source from provided data
      operationId: createAlertsSource
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alerts_source'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source created with resolution rule
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert source
      tags:
      - AlertSources
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_sources/{id}:
    delete:
      description: Delete a specific alert source by id
      operationId: deleteAlertsSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source deleted
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert source
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert source by id
      operationId: getAlertsSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source found
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert source
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert source by id
      operationId: updateAlertsSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alerts_source'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source updated
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert source
      tags:
      - AlertSources
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/incidents/{incident_id}/alerts:
    get:
      description: List incident alerts
      operationId: listIncidentAlerts
      parameters:
      - explode: false
        in: path
        name: incident_id
        required: true
        schema:
          type: string
        style: simple
      - description: "comma separated if needed. eg: environments,services,groups"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - environments
          - services
          - groups
          - responders
          - incidents
          - events
          - alert_urgency
          - heartbeat
          - live_call_router
          - alert_group
          - group_leader_alert
          - group_member_alerts
          - alert_field_values
          - alerting_targets
          - escalation_policies
          - alert_call_recording
          - alert_urgency
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_list'
          description: success
      security:
      - bearer_auth: []
      summary: List Incident alerts
      tags:
      - Alerts
      x-accepts:
      - application/vnd.api+json
    post:
      description: Attach alerts to an incident from provided data
      operationId: attachAlert
      parameters:
      - explode: false
        in: path
        name: incident_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/attach_alert'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_list'
          description: alert created
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Attach alerts to an incident
      tags:
      - Alerts
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alerts:
    get:
      description: List alerts
      operationId: listAlerts
      parameters:
      - description: "comma separated if needed. eg: environments,services,groups"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - environments
          - services
          - groups
          - responders
          - incidents
          - events
          - alert_urgency
          - heartbeat
          - live_call_router
          - alert_group
          - group_leader_alert
          - group_member_alerts
          - alert_field_values
          - alerting_targets
          - escalation_policies
          - alert_call_recording
          - alert_urgency
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[status]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[source]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[services]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[environments]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[labels]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[started_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[started_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[started_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[started_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ended_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ended_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ended_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ended_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[updated_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[updated_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[updated_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[updated_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - description: The cursor to fetch results using cursor pagination. A cursor
          is provided in meta.next_cursor in the response.
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_list'
          description: returns grouping attributes
      security:
      - bearer_auth: []
      summary: List alerts
      tags:
      - Alerts
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert from provided data
      operationId: createAlert
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_response'
          description: alert created
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Creates an alert
      tags:
      - Alerts
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alerts/{id}:
    get:
      description: Retrieves a specific alert by id
      operationId: getAlert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "comma separated if needed. eg: environments,services,groups"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - environments
          - services
          - groups
          - responders
          - incidents
          - events
          - alert_urgency
          - heartbeat
          - live_call_router
          - alert_group
          - group_leader_alert
          - group_member_alerts
          - alert_field_values
          - alerting_targets
          - escalation_policies
          - alert_call_recording
          - alert_urgency
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_response'
          description: alert found with group_member_alerts included
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert
      tags:
      - Alerts
      x-accepts:
      - application/vnd.api+json
    patch:
      description: Updates an alert
      operationId: updateAlert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert'
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_response'
          description: updates one field value and preserves others
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
      security:
      - bearer_auth: []
      summary: Update alert
      tags:
      - Alerts
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alerts/{id}/acknowledge:
    post:
      description: Acknowledges a specific alert by id
      operationId: acknowledgeAlert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_response'
          description: alert acknowledged
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cannot acknowledge open alert
      security:
      - bearer_auth: []
      summary: Acknowledges an alert
      tags:
      - Alerts
      x-accepts:
      - application/vnd.api+json
  /v1/alerts/{id}/resolve:
    post:
      description: Resolves a specific alert by id
      operationId: resolveAlert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/resolve_alert'
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_response'
          description: resolves open alert
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Resolves an alert
      tags:
      - Alerts
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alerts/{id}/snooze:
    post:
      description: "Snoozes a specific alert by id, extending the acknowledgment timeout"
      operationId: snoozeAlert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/snooze_alert'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_response'
          description: alert snoozed
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid delay_minutes
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: snooze service failure
      security:
      - bearer_auth: []
      summary: Snoozes an alert
      tags:
      - Alerts
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alerts/{id}/escalate:
    post:
      description: Escalates a specific alert to the next or specified level in its
        escalation policy
      operationId: escalateAlert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/escalate_alert'
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_response'
          description: escalates to different EP defaults to level 1
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: escalation_policy_level exceeds max
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cannot escalate grouped member alert
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: malformed escalation_policy_id
      security:
      - bearer_auth: []
      summary: Escalates an alert
      tags:
      - Alerts
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/api_keys:
    get:
      description: |
        List API keys for the current organization. Returns key metadata including name, kind, expiration, and last usage — the secret token value is never included in the response.

        **API key kinds:**
        - `personal` — tied to a specific user, inherits that user's permissions.
        - `team` — scoped to one or more teams (groups), creates a service account with permissions derived from group membership.
        - `organization` — organization-wide, creates a service account with a configurable role and on-call role.

        **Automated rotation workflow:** Use `filter[expires_at][lt]` to find keys approaching expiration, then call the rotate endpoint to issue a new token before the old one expires. Combine with `filter[active]=true` to exclude already-expired keys.

        **Sorting:** Use the `sort` parameter with a field name (e.g., `sort=expires_at`). Prefix with `-` for descending order (e.g., `sort=-created_at`). Allowed fields: `name`, `kind`, `created_at`, `updated_at`, `expires_at`, `last_used_at`.
      operationId: listApiKeys
      parameters:
      - description: "Comma-separated list of relationships to include (role, on_call_role,\
          \ created_by, groups)"
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - description: "Filter by API key kind: personal, team, organization"
        explode: true
        in: query
        name: "filter[kind]"
        required: false
        schema:
          type: string
        style: form
      - description: Search by name (case-insensitive partial match)
        explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter by exact name
        explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the user ID that owns the key
        explode: true
        in: query
        name: "filter[user_id]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter team keys by group IDs (comma-separated)
        explode: true
        in: query
        name: "filter[group_ids]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter by role ID
        explode: true
        in: query
        name: "filter[role_id]"
        required: false
        schema:
          type: string
        style: form
      - description: "When true, return only non-expired keys"
        explode: true
        in: query
        name: "filter[active]"
        required: false
        schema:
          type: boolean
        style: form
      - description: "When true, return only expired keys"
        explode: true
        in: query
        name: "filter[expired]"
        required: false
        schema:
          type: boolean
        style: form
      - description: Created after (ISO 8601)
        explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - description: Created at or after (ISO 8601)
        explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - description: Created before (ISO 8601)
        explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - description: Created at or before (ISO 8601)
        explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - description: Expires after (ISO 8601)
        explode: true
        in: query
        name: "filter[expires_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - description: Expires at or after (ISO 8601)
        explode: true
        in: query
        name: "filter[expires_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - description: Expires before (ISO 8601). Useful for finding keys approaching
          expiration.
        explode: true
        in: query
        name: "filter[expires_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - description: Expires at or before (ISO 8601)
        explode: true
        in: query
        name: "filter[expires_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - description: Last used after (ISO 8601)
        explode: true
        in: query
        name: "filter[last_used_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - description: Last used at or after (ISO 8601)
        explode: true
        in: query
        name: "filter[last_used_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - description: Last used before (ISO 8601)
        explode: true
        in: query
        name: "filter[last_used_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - description: Last used at or before (ISO 8601)
        explode: true
        in: query
        name: "filter[last_used_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - description: "Sort by field. Prefix with - for descending (e.g., -created_at,\
          \ expires_at)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/api_key_list'
          description: success
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: List API keys
      tags:
      - API Keys
      x-accepts:
      - application/vnd.api+json
    post:
      description: |
        Creates a new API key and returns it with the plaintext token. **The token is only returned once** — store it securely, as it cannot be retrieved again.

        **Kinds and required fields:**
        - `personal` — created for the authenticated user. No additional fields required.
        - `team` — scoped to a team (group). Requires `group_id`. A service account is automatically created with permissions derived from group membership.
        - `organization` — organization-wide access. Requires owner or admin role. Optionally set `role_id` and `on_call_role_id` to control the service account's permissions.

        **Expiration:** All keys require an `expires_at` date set in the future (maximum 5 years). Names must be unique within their kind and scope.
      operationId: createApiKey
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_api_key'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/api_key_with_token_response'
          description: API key created
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an API key
      tags:
      - API Keys
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/api_keys/{id}:
    delete:
      description: |
        Revoke an API key. The key is immediately invalidated and can no longer be used for authentication. This action cannot be undone.

        For `team` and `organization` keys, the associated service account is also deleted. Any active sessions using this key will fail on the next request.
      operationId: deleteApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Resource UUID
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/api_key_response'
          description: API key revoked
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: API key not found
      security:
      - bearer_auth: []
      summary: Revoke an API key
      tags:
      - API Keys
      x-accepts:
      - application/vnd.api+json
    get:
      description: "Retrieves a specific API key by its UUID. Returns key metadata\
        \ including name, kind, expiration, last usage timestamp, and the grace period\
        \ status — the secret token is never included."
      operationId: getApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Resource UUID
          format: uuid
          type: string
        style: simple
      - description: "Comma-separated list of relationships to include (role, on_call_role,\
          \ created_by, groups)"
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/api_key_response'
          description: API key found
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: API key not found
      security:
      - bearer_auth: []
      summary: Retrieves an API key
      tags:
      - API Keys
      x-accepts:
      - application/vnd.api+json
    put:
      description: |
        Update an API key's mutable attributes: `name`, `description`, and `expires_at`.

        The key's `kind`, `role_id`, `on_call_role_id`, and token cannot be changed after creation. To issue a new token, use the rotate endpoint. To change the role or kind, revoke the key and create a new one.

        The new `expires_at` must be in the future and within 5 years.
      operationId: updateApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Resource UUID
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_api_key'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/api_key_response'
          description: API key updated
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: API key not found
      security:
      - bearer_auth: []
      summary: Update an API key
      tags:
      - API Keys
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/api_keys/{id}/rotate:
    post:
      description: |
        Rotate an API key's token. Issues a new secret token and returns it — **the new token is only shown once**, so store it securely.

        **Self-only:** You can only rotate the API key that was used to authenticate this request. Attempting to rotate a different key returns `403 Forbidden`.

        **Grace period:** When enabled for your organization, the previous token remains valid after rotation, giving you time to deploy the new token without downtime. Pass `grace_period_minutes` (integer, 0–1440, default 30) to control how long the old token stays valid. Set to 0 to immediately invalidate the old token. The `grace_period_ends_at` field in the response confirms the exact time the old token will stop working.

        **Expiration:** Optionally provide a new `expires_at` date (ISO 8601, up to 5 years). Defaults to 90 days from now if omitted. Dates in the past are rejected.

        **Typical rotation workflow:**
        1. Call this endpoint to get a new token (optionally with a custom `grace_period_minutes`).
        2. Deploy the new token to your systems.
        3. The old token continues working for `grace_period_minutes` (if grace period is enabled).
        4. After the grace period, the old token is automatically invalidated.
      operationId: rotateApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/rotate_api_key'
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/api_key_with_token_response'
          description: API key rotated
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: API key not found
      security:
      - bearer_auth: []
      summary: Rotate an API key
      tags:
      - API Keys
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/audits:
    get:
      description: List audits
      operationId: listAudits
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[user_id]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[api_key_id]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[source]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[item_type]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/audits_list'
          description: success
      security:
      - bearer_auth: []
      summary: List audits
      tags:
      - Audits
      x-accepts:
      - application/vnd.api+json
  /v1/authorizations:
    get:
      description: List authorizations
      operationId: listAuthorizations
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[authorizable_id]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[authorizable_type]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[grantee_id]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[grantee_type]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/authorization_list'
          description: success
      security:
      - bearer_auth: []
      summary: List authorizations
      tags:
      - Authorizations
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new authorization from provided data
      operationId: createAuthorization
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_authorization'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/authorization_response'
          description: authorization created
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an authorization
      tags:
      - Authorizations
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/authorizations/{id}:
    delete:
      description: Delete a specific authorization by id
      operationId: deleteAuthorization
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/authorization_response'
          description: authorization deleted
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an authorization
      tags:
      - Authorizations
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific authorization by id
      operationId: getAuthorization
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/authorization_response'
          description: authorization found
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an authorization
      tags:
      - Authorizations
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific authorization by id
      operationId: updateAuthorization
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_authorization'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/authorization_response'
          description: authorization updated
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an authorization
      tags:
      - Authorizations
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/catalog_checklist_templates:
    get:
      description: List catalog checklist templates
      operationId: listCatalogChecklistTemplates
      parameters:
      - description: "comma separated if needed. eg: template_fields,template_owners"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - template_fields
          - template_owners
          type: string
        style: form
      - description: "comma separated if needed. eg: created_at,updated_at"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          - name
          - -name
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[slug]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[catalog_type]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[scope_type]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/catalog_checklist_template_list'
          description: returns empty list for another team
      security:
      - bearer_auth: []
      summary: List catalog checklist templates
      tags:
      - Catalog Checklist Templates
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new catalog checklist template
      operationId: createCatalogChecklistTemplate
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_catalog_checklist_template'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/catalog_checklist_template_response'
          description: ignores user-provided field_key for custom fields
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: returns 422 when scope_type is missing for Catalog scope_id
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates a catalog checklist template
      tags:
      - Catalog Checklist Templates
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/catalog_checklist_templates/{id}/trigger:
    post:
      description: Triggers an audit for all applicable entities of the checklist
        template
      operationId: triggerCatalogChecklistTemplate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "202":
          description: audit triggered
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found for another team
      security:
      - bearer_auth: []
      summary: Trigger an audit for a catalog checklist template
      tags:
      - Catalog Checklist Templates
      x-accepts:
      - application/vnd.api+json
  /v1/catalog_checklist_templates/{id}:
    delete:
      description: Delete a specific catalog checklist template by id
      operationId: deleteCatalogChecklistTemplate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/catalog_checklist_template_response'
          description: catalog checklist template deleted
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: catalog checklist template not found
      security:
      - bearer_auth: []
      summary: Delete a catalog checklist template
      tags:
      - Catalog Checklist Templates
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific catalog checklist template by id
      operationId: getCatalogChecklistTemplate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/catalog_checklist_template_response'
          description: catalog checklist template found by slug
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found for another team
      security:
      - bearer_auth: []
      summary: Retrieves a catalog checklist template
      tags:
      - Catalog Checklist Templates
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific catalog checklist template by id
      operationId: updateCatalogChecklistTemplate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_catalog_checklist_template'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/catalog_checklist_template_response'
          description: ignores user-provided field_key for custom fields on update
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: rejects duplicate custom fields on update
      security:
      - bearer_auth: []
      summary: Update a catalog checklist template
      tags:
      - Catalog Checklist Templates
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/catalogs/{catalog_id}/entities:
    get:
      description: List Catalog Entities
      operationId: listCatalogEntities
      parameters:
      - explode: false
        in: path
        name: catalog_id
        required: true
        schema:
          type: string
        style: simple
      - description: "comma separated if needed. eg: catalog,properties"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - catalog
          - properties
          type: string
        style: form
      - description: "comma separated if needed. eg: created_at,updated_at"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          - position
          - -position
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[slug]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[backstage_id]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
[...]
