openapi: 3.0.1
info:
  description: |+
    # How to generate an API Key?
    - **Organization dropdown** > **Organization Settings** > **API Keys**

    # JSON:API Specification
    Rootly is using **JSON:API** (https://jsonapi.org) specification:
    - JSON:API is a specification for how a client should request that resources be fetched or modified, and how a server should respond to those requests.
    - JSON:API is designed to minimize both the number of requests and the amount of data transmitted between clients and servers. This efficiency is achieved without compromising readability, flexibility, or discoverability.
    - JSON:API requires use of the JSON:API media type (**application/vnd.api+json**) for exchanging data.

    # Authentication and Requests
    We use standard HTTP Authentication over HTTPS to authorize your requests.
    ```
      curl --request GET \
    --header 'Content-Type: application/vnd.api+json' \
    --header 'Authorization: Bearer YOUR-TOKEN' \
    --url https://api.rootly.com/v1/incidents
    ```

    <br/>

    # Rate limiting
    - There is a default limit of approximately **3000** **GET** calls **per API key** every **60 seconds**. The limit is calculated over a **60-second sliding window** looking back from the current time. While the limit can be configured to support higher thresholds, you must first contact your **Rootly Customer Success Manager** to make any adjustments.
    - There is a default limit of approximately **3000** **PUT**, **POST**, **PATCH** or **DELETE** calls **per API key** every **60 seconds**. The limit is calculated over a **60-second sliding window** looking back from the current time. While the limit can be configured to support higher thresholds, you must first contact your **Rootly Customer Success Manager** to make any adjustments.
    - The response to the API call will return 429 HTTP status code - Request Limit Exceeded and Rootly will not ingest the event.
    - Additional headers will be returned giving you information about the limit:
      - **RateLimit-Limit** - The maximum number of requests that the consumer is permitted to make.
      - **RateLimit-Remaining** - The number of requests remaining in the current rate limit window.
      - **RateLimit-Reset** - The time at which the current rate limit window resets in UTC epoch seconds.

    # Pagination
    - Pagination is supported for all endpoints that return a collection of items.
    - Pagination is controlled by the **page** query parameter

    ## Example
    ```
      curl --request GET \
    --header 'Content-Type: application/vnd.api+json' \
    --header 'Authorization: Bearer YOUR-TOKEN' \
    --url https://api.rootly.com/v1/incidents?page[number]=1&page[size]=10
    ```

  title: Rootly API v1
  version: v1
  x-logo:
    url: https://rootly-heroku.s3.us-east-1.amazonaws.com/swagger/v1/logo.png
    alt: Rootly
servers:
- url: https://api.rootly.com
paths:
  /v1/alerts/{alert_id}/events:
    get:
      description: List alert_events
      operationId: listAlertEvents
      parameters:
      - explode: false
        in: path
        name: alert_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[kind]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[action]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_event_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert events
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert event
      operationId: createAlertEvent
      parameters:
      - explode: false
        in: path
        name: alert_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_event'
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 1ae9be0b-a4d3-4a0c-8ba0-efa1b7f8094f
                  type: alert_events
                  attributes:
                    kind: note
                    source: api
                    action: created
                    details: This is a test note
                    user:
                      id: 6
                      email: bot@rootly.com
                      deleted_at: null
                      created_at: 2025-05-22T06:41:03.825-07:00
                      updated_at: 2025-05-22T06:41:03.825-07:00
                      current_team_id: 2
                      first_name: Rootly
                      last_name: null
                      time_zone: America/Los_Angeles
                      last_seen_at: null
                      profile_photo_id: null
                      ability_cache: null
                      last_notification_email_sent_at: null
                      accept_terms: true
                      onboarding_completed: true
                      service_user: true
                      accept_marketing: true
                      teams_count: 1
                      created_through_sso: false
                      scim_uid: null
                      session_token: null
                      incidents_example_count: 0
                      incidents_test_count: 0
                      incidents_normal_count: 0
                      incidents_scheduled_count: 0
                      incidents_backfilled_count: 0
                      incidents_count: 0
                      theme: light_v2
                      skip_tutorial: false
                      external_id: null
                      jti: 2fea0356-558c-4bef-9fd0-117b32bb3109
                      is_super_admin: false
                      has_impersonate_write_permission: false
                      view_multiple_schedules: true
                      push_notification_new_alert_sound: default
                      push_notification_shift_starts_sound: soft_bloob
                      push_notification_shift_ends_sound: soft_bloob
                      how_did_you_hear_about_us: null
                      push_notification_new_alert_volume: 1.0
                      opsgenie_id: null
                      victor_ops_id: null
                      pagerduty_id: null
                    user_id: 6
                    incident: null
                    schedule: null
                    escalation_level: null
                    escalation_target_type: null
                    escalation_target: null
                    slack_channel: null
                    incident_ids: []
                    created_at: 2025-05-22T06:41:05.296-07:00
                    updated_at: 2025-05-22T06:41:05.296-07:00
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert event created with Rootly bot user
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Details can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
      security:
      - bearer_auth: []
      summary: Create alert event
      tags:
      - AlertEvents
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_events/{id}:
    delete:
      description: Deletes a specific alert event
      operationId: deleteAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: alert event deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert event not found
      security:
      - bearer_auth: []
      summary: Delete alert event
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert_event by id
      operationId: getAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 051945be-e44c-410d-ae05-55daa242a6a5
                  type: alert_events
                  attributes:
                    kind: note
                    source: api
                    action: created
                    details: test note
                    user:
                      id: 1
                      email: lianne@hodkiewicz-wunsch.test
                      deleted_at: null
                      created_at: 2025-05-22T06:41:01.314-07:00
                      updated_at: 2025-05-22T06:41:05.787-07:00
                      current_team_id: 1
                      first_name: Wayne
                      last_name: Schimmel
                      time_zone: UTC
                      last_seen_at: null
                      profile_photo_id: null
                      ability_cache: null
                      last_notification_email_sent_at: null
                      accept_terms: true
                      onboarding_completed: true
                      service_user: false
                      accept_marketing: true
                      teams_count: 1
                      created_through_sso: false
                      scim_uid: null
                      session_token: null
                      incidents_example_count: 0
                      incidents_test_count: 0
                      incidents_normal_count: 0
                      incidents_scheduled_count: 0
                      incidents_backfilled_count: 0
                      incidents_count: 0
                      theme: light_v2
                      skip_tutorial: false
                      external_id: null
                      jti: 73b9f2d7-a26c-4c72-8d3c-0b3f29aaa994
                      is_super_admin: false
                      has_impersonate_write_permission: false
                      view_multiple_schedules: true
                      push_notification_new_alert_sound: default
                      push_notification_shift_starts_sound: soft_bloob
                      push_notification_shift_ends_sound: soft_bloob
                      how_did_you_hear_about_us: null
                      push_notification_new_alert_volume: 1.0
                      opsgenie_id: null
                      victor_ops_id: null
                      pagerduty_id: null
                    user_id: 1
                    incident: null
                    schedule: null
                    escalation_level: null
                    escalation_target_type: null
                    escalation_target: null
                    slack_channel: null
                    incident_ids: []
                    created_at: 2025-05-22T06:41:04.029-07:00
                    updated_at: 2025-05-22T06:41:04.029-07:00
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert_event found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert_event not found
      security:
      - bearer_auth: []
      summary: Retrieve alert event
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    patch:
      description: Updates a specific alert event
      operationId: updateAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_event'
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 051945be-e44c-410d-ae05-55daa242a6a5
                  type: alert_events
                  attributes:
                    kind: note
                    source: api
                    action: created
                    details: Updated details
                    user:
                      id: 1
                      email: lianne@hodkiewicz-wunsch.test
                      deleted_at: null
                      created_at: 2025-05-22T06:41:01.314-07:00
                      updated_at: 2025-05-22T06:41:06.171-07:00
                      current_team_id: 1
                      first_name: Wayne
                      last_name: Schimmel
                      time_zone: UTC
                      last_seen_at: null
                      profile_photo_id: null
                      ability_cache: null
                      last_notification_email_sent_at: null
                      accept_terms: true
                      onboarding_completed: true
                      service_user: false
                      accept_marketing: true
                      teams_count: 1
                      created_through_sso: false
                      scim_uid: null
                      session_token: null
                      incidents_example_count: 0
                      incidents_test_count: 0
                      incidents_normal_count: 0
                      incidents_scheduled_count: 0
                      incidents_backfilled_count: 0
                      incidents_count: 0
                      theme: light_v2
                      skip_tutorial: false
                      external_id: null
                      jti: 73b9f2d7-a26c-4c72-8d3c-0b3f29aaa994
                      is_super_admin: false
                      has_impersonate_write_permission: false
                      view_multiple_schedules: true
                      push_notification_new_alert_sound: default
                      push_notification_shift_starts_sound: soft_bloob
                      push_notification_shift_ends_sound: soft_bloob
                      how_did_you_hear_about_us: null
                      push_notification_new_alert_volume: 1.0
                      opsgenie_id: null
                      victor_ops_id: null
                      pagerduty_id: null
                    user_id: 1
                    incident: null
                    schedule: null
                    escalation_level: null
                    escalation_target_type: null
                    escalation_target: null
                    slack_channel: null
                    incident_ids: []
                    created_at: 2025-05-22T06:41:04.029-07:00
                    updated_at: 2025-05-22T06:41:06.203-07:00
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert event updated
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Details can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
      security:
      - bearer_auth: []
      summary: Update alert event
      tags:
      - AlertEvents
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_groups:
    get:
      description: List alert groups
      operationId: listAlertGroups
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_group_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert groups
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert group
      operationId: createAlertGroup
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_group'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 23b4d6ec-13d7-4ce3-9090-f5954b3793fc
                  type: alert_groups
                  attributes:
                    name: Test alert group
                    slug: test-alert-group
                    description: null
                    time_window: 10
                    condition_type: any
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    deleted_at: null
                    created_at: 2025-05-22T06:41:08.759-07:00
                    updated_at: 2025-05-22T06:41:08.759-07:00
                    targets:
                    - id: a1d12c71-5fd8-4b7e-9f75-b9806a74c184
                      target_type: Service
                      target_id: 17089b7a-536f-4fb9-bbd7-346f05620c09
                      alert_group_id: 23b4d6ec-13d7-4ce3-9090-f5954b3793fc
                      deleted_at: null
                      created_at: 2025-05-22T06:41:08.761-07:00
                      updated_at: 2025-05-22T06:41:08.761-07:00
                    attributes: []
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
                - title: Destinations can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert group
      tags:
      - AlertGroups
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_groups/{id}:
    delete:
      description: Delete a specific alert group by id
      operationId: deleteAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: def4cd72-7c62-47ad-86fb-8f3b675faeac
                  type: alert_groups
                  attributes:
                    name: 123 test group
                    slug: 123-test-group
                    description: null
                    time_window: 10
                    condition_type: any
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    deleted_at: 2025-05-22T06:41:10.650-07:00
                    created_at: 2025-05-22T06:41:08.223-07:00
                    updated_at: 2025-05-22T06:41:10.650-07:00
                    targets: []
                    attributes: []
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert group
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert group by id
      operationId: getAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: def4cd72-7c62-47ad-86fb-8f3b675faeac
                  type: alert_groups
                  attributes:
                    name: 123 test group
                    slug: 123-test-group
                    description: null
                    time_window: 10
                    condition_type: any
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    deleted_at: null
                    created_at: 2025-05-22T06:41:08.223-07:00
                    updated_at: 2025-05-22T06:41:08.223-07:00
                    targets:
                    - id: 4dd56ec2-a100-4e94-9d36-5ad3e6df30f8
                      target_type: Service
                      target_id: 17089b7a-536f-4fb9-bbd7-346f05620c09
                      alert_group_id: def4cd72-7c62-47ad-86fb-8f3b675faeac
                      deleted_at: null
                      created_at: 2025-05-22T06:41:08.225-07:00
                      updated_at: 2025-05-22T06:41:08.225-07:00
                    attributes: []
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert group
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    patch:
      description: Update a specific alert group by id
      operationId: updateAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_group'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: def4cd72-7c62-47ad-86fb-8f3b675faeac
                  type: alert_groups
                  attributes:
                    name: Group name updated
                    slug: 123-test-group
                    description: null
                    time_window: 10
                    condition_type: any
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    deleted_at: null
                    created_at: 2025-05-22T06:41:08.223-07:00
                    updated_at: 2025-05-22T06:41:10.111-07:00
                    targets:
                    - id: 4dd56ec2-a100-4e94-9d36-5ad3e6df30f8
                      target_type: Service
                      target_id: 17089b7a-536f-4fb9-bbd7-346f05620c09
                      alert_group_id: def4cd72-7c62-47ad-86fb-8f3b675faeac
                      deleted_at: null
                      created_at: 2025-05-22T06:41:08.225-07:00
                      updated_at: 2025-05-22T06:41:08.225-07:00
                    attributes: []
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert group
      tags:
      - AlertGroups
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routing_rules:
    get:
      description: List alert routing rules
      operationId: listAlertRoutingRules
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_routing_rule_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert routing rules
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert routing rule from provided data
      operationId: createAlertRoutingRule
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_routing_rule'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: e6fdb980-a74a-4248-aa25-86b551dff287
                  type: alert_routing_rules
                  attributes:
                    name: Test Alert Routing Rule 1
                    alerts_source_id: eeac2fff-c951-4a81-9495-aaadf7cf8bd8
                    condition_type: all
                    enabled: false
                    created_at: 2025-05-22T06:41:16.071-07:00
                    updated_at: 2025-05-22T06:41:16.071-07:00
                    destination:
                      id: 645fee4a-46cb-4bad-9345-db7517c67ef8
                      target_type: Group
                      target_id: 0f80f9ef-3937-4b65-839e-038e1eb81430
                      created_at: 2025-05-22T06:41:16.073-07:00
                      updated_at: 2025-05-22T06:41:16.073-07:00
                    conditions:
                    - id: 9770dcc9-eb22-44fb-ba4c-34cfec03523c
                      property_field_condition_type: is_one_of
                      property_field_name: description
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values:
                      - Open
                      created_at: 2025-05-22T06:41:16.074-07:00
                      updated_at: 2025-05-22T06:41:16.074-07:00
                  relationships:
                    owning_teams:
                      data: []
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert routing rule
      tags:
      - AlertRoutingRules
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routing_rules/{id}:
    delete:
      description: Delete a specific alert routing rule by id
      operationId: deleteAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: c03e2fb6-1780-4353-8b2f-e12b20dac569
                  type: alert_routing_rules
                  attributes:
                    name: Alert Routing Rule 1
                    alerts_source_id: eeac2fff-c951-4a81-9495-aaadf7cf8bd8
                    condition_type: all
                    enabled: false
                    created_at: 2025-05-22T06:41:12.544-07:00
                    updated_at: 2025-05-22T06:41:17.947-07:00
                    destination:
                      id: 8d9de9e1-bc7f-467a-a964-16800c005779
                      target_type: EscalationPolicy
                      target_id: 704dd250-9250-479f-add6-0e76eff4c0f7
                      created_at: 2025-05-22T06:41:12.752-07:00
                      updated_at: 2025-05-22T06:41:17.938-07:00
                    conditions: []
                  relationships:
                    owning_teams:
                      data: []
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert routing rule
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert routing rule by id
      operationId: getAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: c03e2fb6-1780-4353-8b2f-e12b20dac569
                  type: alert_routing_rules
                  attributes:
                    name: Alert Routing Rule 1
                    alerts_source_id: eeac2fff-c951-4a81-9495-aaadf7cf8bd8
                    condition_type: all
                    enabled: false
                    created_at: 2025-05-22T06:41:12.544-07:00
                    updated_at: 2025-05-22T06:41:12.544-07:00
                    destination:
                      id: 8d9de9e1-bc7f-467a-a964-16800c005779
                      target_type: EscalationPolicy
                      target_id: 704dd250-9250-479f-add6-0e76eff4c0f7
                      created_at: 2025-05-22T06:41:12.752-07:00
                      updated_at: 2025-05-22T06:41:12.752-07:00
                    conditions: []
                  relationships:
                    owning_teams:
                      data: []
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert routing rule
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert routing rule by id
      operationId: updateAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_routing_rule'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: c03e2fb6-1780-4353-8b2f-e12b20dac569
                  type: alert_routing_rules
                  attributes:
                    name: Test Alert Routing Rule 1 (Updated)
                    alerts_source_id: eeac2fff-c951-4a81-9495-aaadf7cf8bd8
                    condition_type: all
                    enabled: false
                    created_at: 2025-05-22T06:41:12.544-07:00
                    updated_at: 2025-05-22T06:41:17.391-07:00
                    destination:
                      id: 8d9de9e1-bc7f-467a-a964-16800c005779
                      target_type: EscalationPolicy
                      target_id: 704dd250-9250-479f-add6-0e76eff4c0f7
                      created_at: 2025-05-22T06:41:12.752-07:00
                      updated_at: 2025-05-22T06:41:12.752-07:00
                    conditions: []
                  relationships:
                    owning_teams:
                      data: []
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert routing rule
      tags:
      - AlertRoutingRules
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_urgencies:
    get:
      description: List alert urgencies
      operationId: listAlertUrgencies
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_urgency_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert urgencies
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert urgency from provided data
      operationId: createAlertUrgency
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_urgency'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 017b2312-ccb8-4436-bd3d-0677c6b0e089
                  type: alert_urgencies
                  attributes:
                    name: High
                    description: Hight alert urgency
                    position: 1
                    created_at: 2025-05-22T06:41:21.972-07:00
                    updated_at: 2025-05-22T06:41:21.972-07:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
                - title: Description can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert urgency
      tags:
      - AlertUrgencies
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_urgencies/{id}:
    delete:
      description: Delete a specific alert urgency by id
      operationId: deleteAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 8cbae5da-a98e-40bd-94ba-6cf23e5127ae
                  type: alert_urgencies
                  attributes:
                    name: "43532"
                    description: Quod ipsa sapiente possimus.
                    position: 1
                    created_at: 2025-05-22T06:41:19.416-07:00
                    updated_at: 2025-05-22T06:41:23.880-07:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert urgency
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert urgency by id
      operationId: getAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 8cbae5da-a98e-40bd-94ba-6cf23e5127ae
                  type: alert_urgencies
                  attributes:
                    name: "43532"
                    description: Quod ipsa sapiente possimus.
                    position: 1
                    created_at: 2025-05-22T06:41:19.416-07:00
                    updated_at: 2025-05-22T06:41:19.422-07:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert urgency
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert urgency by id
      operationId: updateAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_urgency'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 8cbae5da-a98e-40bd-94ba-6cf23e5127ae
                  type: alert_urgencies
                  attributes:
                    name: High (Updated)
                    description: Quod ipsa sapiente possimus.
                    position: 2
                    created_at: 2025-05-22T06:41:19.416-07:00
                    updated_at: 2025-05-22T06:41:23.218-07:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert urgency
      tags:
      - AlertUrgencies
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_sources:
    get:
      description: List alert sources
      operationId: listAlertSources
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[statuses]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[source_types]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alerts_source_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert sources
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert source from provided data
      operationId: createAlertSource
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alerts_source'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 5c540998-b387-4c35-9320-ee5508cb147f
                  type: alert_sources
                  attributes:
                    name: Email Source 1
                    source_type: email
                    status: setup_incomplete
                    secret: e5f24b29b35174b16969b2ee0062a6c543b5fb706ce63592a4cba7fa83fc49f2
                    alert_urgency_id: 4cc0f406-98f2-4f80-b2f8-e2a85e6e76f2
                    created_at: 2025-05-22T06:41:29.041-07:00
                    updated_at: 2025-05-22T06:41:29.041-07:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/generic_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes: []
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes:
                      id: 8baa261f-15ad-42b5-8ddd-c5a93cf3ce84
                      enabled: true
                      condition_type: all
                      identifier_json_path: $.email.subject
                      identifier_value_regex: ""
                      conditions_attributes:
                      - id: 825dbe0e-fe12-4773-b6a9-eed5a401ba1d
                        field: $.email.subject
                        operator: is
                        value: Resolved
                    email: email-source-de4aeac477c11b17ce13fe66e23a03cc@test.email.rootly.com
                    accept_threaded_emails: false
                  relationships:
                    alert_source_urgency_rules:
                      data: []
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source created with resolution rule
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert source
      tags:
      - AlertSources
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_sources/{id}:
    delete:
      description: Delete a specific alert source by id
      operationId: deleteAlertSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 1faaf21d-a2af-45ea-bf61-ab981436ce9a
                  type: alert_sources
                  attributes:
                    name: Alert Source 4
                    source_type: datadog
                    status: setup_incomplete
                    secret: 5609791888c96ec5d1e1c1d7fbcd37f84614fbfa031f0352d7280ed6ae275441
                    alert_urgency_id: 4cc0f406-98f2-4f80-b2f8-e2a85e6e76f2
                    created_at: 2025-05-22T06:41:25.361-07:00
                    updated_at: 2025-05-22T06:41:31.083-07:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/datadog_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes: []
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes: null
                  relationships:
                    alert_source_urgency_rules:
                      data: []
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert source
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert source by id
      operationId: getAlertSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 1faaf21d-a2af-45ea-bf61-ab981436ce9a
                  type: alert_sources
                  attributes:
                    name: Alert Source 4
                    source_type: datadog
                    status: setup_incomplete
                    secret: 5609791888c96ec5d1e1c1d7fbcd37f84614fbfa031f0352d7280ed6ae275441
                    alert_urgency_id: 4cc0f406-98f2-4f80-b2f8-e2a85e6e76f2
                    created_at: 2025-05-22T06:41:25.361-07:00
                    updated_at: 2025-05-22T06:41:25.361-07:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/datadog_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes: []
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes: null
                  relationships:
                    alert_source_urgency_rules:
                      data: []
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert source
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert source by id
      operationId: updateAlertSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alerts_source'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 1faaf21d-a2af-45ea-bf61-ab981436ce9a
                  type: alert_sources
                  attributes:
                    name: GW 2
                    source_type: datadog
                    status: setup_incomplete
                    secret: 5609791888c96ec5d1e1c1d7fbcd37f84614fbfa031f0352d7280ed6ae275441
                    alert_urgency_id: 4cc0f406-98f2-4f80-b2f8-e2a85e6e76f2
                    created_at: 2025-05-22T06:41:25.361-07:00
                    updated_at: 2025-05-22T06:41:30.512-07:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/datadog_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes:
                    - id: 4d209f0c-f2a9-4eed-8940-34ca708b1d6a
                      json_path: $.alert.status
                      operator: is
                      value: Critical
                      alert_urgency_id: d07e290e-e092-44f0-9a27-ee97422e213a
                      alerts_source_id: 1faaf21d-a2af-45ea-bf61-ab981436ce9a
                      created_at: 2025-05-22T06:41:30.514-07:00
                      updated_at: 2025-05-22T06:41:30.514-07:00
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes: null
                  relationships:
                    alert_source_urgency_rules:
                      data:
                      - id: 4d209f0c-f2a9-4eed-8940-34ca708b1d6a
                        alerts_source_id: 1faaf21d-a2af-45ea-bf61-ab981436ce9a
                        alert_urgency_id: d07e290e-e092-44f0-9a27-ee97422e213a
                        json_path: $.alert.status
                        operator: is
                        value: Critical
                        deleted_at: null
                        created_at: 2025-05-22T06:41:30.514-07:00
                        updated_at: 2025-05-22T06:41:30.514-07:00
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert source
      tags:
      - AlertSources
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/incidents/{incident_id}/alerts:
    get:
      description: List incident alerts
      operationId: listIncidentAlerts
      parameters:
      - explode: false
        in: path
        name: incident_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[source]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[services]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[environments]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[labels]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[started_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[started_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[started_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[started_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ended_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ended_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ended_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[ended_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_list'
          description: success
      security:
      - bearer_auth: []
      summary: List Incident alerts
      tags:
      - Alerts
      x-accepts:
      - application/vnd.api+json
    post:
      description: Attach alerts to an incident from provided data
      operationId: attachAlert
      parameters:
      - explode: false
        in: path
        name: incident_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/attach_alert'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                - id: a4e2e382-667d-4ee7-988c-ec3834b8092e
                  type: alerts
                  attributes:
                    short_id: oz4tfm
                    source: pagerduty
                    status: open
                    summary: Sunt eaque est in.
                    description: Delectus sunt deserunt. Et qui totam. Blanditiis
                      sit aut.
                    labels: []
                    services: []
                    service_ids: []
                    groups: []
                    group_ids: []
                    environments: []
                    environment_ids: []
                    responders: []
                    incidents:
                    - id: c33e16dc-02c3-431b-84e8-b762a18fb958
                      user_id: 27
                      team_id: 17
                      title: Dolorum tempore vel dolor.
                      slug: dolorum-tempore-vel-dolor
                      summary: Dolor occaecati voluptatem. Quo minima quod. In soluta
                        autem.
                      status: started
                      slack_channel_id: null
                      started_at: 2025-05-22T06:41:33.101-07:00
                      mitigated_at: null
                      resolved_at: null
                      deleted_at: null
                      created_at: 2025-05-22T06:41:33.101-07:00
                      updated_at: 2025-05-22T06:41:39.771-07:00
                      severity_id: 3454a55e-faa3-44a4-b347-bc4927c0babb
                      public_title: null
                      zoom_meeting_id: null
                      zoom_meeting_start_url: null
                      zoom_meeting_join_url: null
                      shortcut_story_id: null
                      shortcut_story_url: null
                      asana_task_id: null
                      asana_task_url: null
                      jira_issue_id: null
                      jira_issue_url: null
                      email_message_id: null
                      google_meeting_id: null
                      google_meeting_url: null
                      trello_card_id: null
                      trello_card_url: null
                      linear_issue_id: null
                      linear_issue_url: null
                      zendesk_ticket_id: null
                      zendesk_ticket_url: null
                      slack_channel_name: null
                      service_now_incident_id: null
                      service_now_incident_url: null
                      opsgenie_incident_id: null
                      opsgenie_incident_url: null
                      opsgenie_incident_responder_ids: []
                      labels: {}
                      incidents_action_items_count: 0
                      incidents_tasks_count: 0
                      mitigation_message: null
                      resolution_message: null
                      pagerduty_incident_responder_ids: {}
                      victor_ops_incident_id: null
                      victor_ops_incident_url: null
                      victor_ops_incident_responder_ids: {}
                      pagerduty_incident_id: null
                      pagerduty_incident_url: null
                      status_pages_count: 0
                      mattermost_channel_id: null
                      slack_summary_timestamp: null
                      mattermost_channel_name: null
                      mattermost_channel_url: null
                      slack_channel_url: null
                      mattermost_summary_timestamp: null
                      confluence_page_id: null
                      confluence_page_url: null
                      kind: normal
                      scheduled_for: null
                      scheduled_until: null
                      scheduled_remind_prior: false
                      scheduled_auto_in_progress: true
                      scheduled_auto_completed: true
                      detected_at: null
                      acknowledged_at: null
                      private: false
                      airtable_record_id: null
                      airtable_record_url: null
                      google_drive_id: null
                      google_drive_url: null
                      summary_updated_at: null
                      sequential_id: 1
                      slack_channels: []
                      airtable_base_key: null
                      airtable_table_name: null
                      shortcut_task_id: null
                      shortcut_task_url: null
                      title_autogenerated: false
                      view_source: null
                      source: web
                      microsoft_teams_meeting_url: null
                      microsoft_teams_meeting_id: null
                      dropbox_paper_id: null
                      dropbox_paper_url: null
                      subscribers_count: 0
                      status_page_io: {}
                      webex_meeting_id: null
                      webex_meeting_url: null
                      github_issue_id: null
                      github_issue_url: null
                      cancelled_at: null
                      cancellation_message: null
                      notion_page_id: null
                      notion_page_url: null
                      datadog_notebook_id: null
                      datadog_notebook_url: null
                      notify_channels: {}
                      freshservice_ticket_id: null
                      freshservice_ticket_url: null
                      freshservice_task_id: null
                      freshservice_task_url: null
                      started_by_user_id: 27
                      mitigated_by_user_id: null
                      resolved_by_user_id: null
                      cancelled_by_user_id: null
                      slack_aliases: []
                      slack_channel_workspace_id: null
                      google_calendar_event_url: null
                      google_calendar_event_id: null
                      short_url: null
                      slack_channel_short_url: null
                      go_to_meeting_id: null
                      go_to_meeting_url: null
                      jira_issue_key: null
                      linear_issue_key: null
                      opsgenie_alert_id: null
                      opsgenie_alert_url: null
                      triggered_from_slack_channel_id: null
                      service_now_incident_key: null
                      quip_page_id: null
                      quip_page_url: null
                      pagertree_alert_id: null
                      pagertree_alert_url: null
                      duplicate_incident_id: null
                      parent_incident_id: null
                      ability_cache: null
                      previous_attributes:
                        updated_at: 2025-05-22T06:41:37.490-07:00
                        incident_events:
                        - "Alerts has been attached: <a class=\"badge badge-warning\
                          \ \" target=\"_blank\" data-toggle=\"tooltip\" data-placement=\"\
                          top\" data-title=\"[Pagerduty] Sunt Eaque Est In.\" href=\"\
                          http://yost-gutkowski.test/ronnie\">[Pagerduty] Sunt Eaque\
                          \ Est In.</a><a class=\"badge badge-warning \" target=\"\
                          _blank\" data-toggle=\"tooltip\" data-placement=\"top\"\
                          \ data-title=\"[Pagerduty] Quis Sint Ipsa Officiis.\" href=\"\
                          http://schuster.example/abbie.simonis\">[Pagerduty] Quis\
                          \ Sint Ipsa Officiis.</a><a class=\"badge badge-warning\
                          \ \" target=\"_blank\" data-toggle=\"tooltip\" data-placement=\"\
                          top\" data-title=\"[Pagerduty] Nemo Ab Maxime Necessitatibus.\"\
                          \ href=\"http://kub.test/jaime\">[Pagerduty] Nemo Ab Maxime\
                          \ Necessitatibus.</a>"
                        - Started date has been set to <span class="badge badge-info-inverted">May
                          22  6:41 AM PDT</span>
                        - Paris Kris created this incident
                        user_avatar_url: |
                          data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KICAgICAg
                          PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8y
                          MDAwL3N2ZyIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAg
                          MCAyMDAgMjAwIj4KICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWRp
                          ZW50XzE3NDc5MjEyOTlfMzg5MDA1IiBncmFkaWVudFRyYW5zZm9ybT0icm90
                          YXRlKDE5MCkiPgogICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iIzdiNDM5
                          NyIgb2Zmc2V0PSIwJSIgLz4KICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9
                          IiM3YjQzOTciIG9mZnNldD0iMTAwJSIgLz4KICAgICAgICA8L2xpbmVhckdy
                          YWRpZW50PgogICAgICAgIDxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEw
                          MCUiIGZpbGw9InVybCgjZ3JhZGllbnRfMTc0NzkyMTI5OV8zODkwMDUpIiAv
                          PgogICAgICAgIDx0ZXh0IGZpbGw9IiNGRkYiIGZvbnQtZmFtaWx5PSJPcGVu
                          IFNhbnMsSGVsdmV0aWNhLEFyaWFsLHNhbnMtc2VyaWYiIGZvbnQtc2l6ZT0i
                          MTAxIiBmb250LXdlaWdodD0iNTAwIiB4PSI1MCUiIHk9IjU1JSIgZG9taW5h
                          bnQtYmFzZWxpbmU9Im1pZGRsZSIgdGV4dC1hbmNob3I9Im1pZGRsZSI+CiAg
                          ICAgICAgICBQSwogICAgICAgIDwvdGV4dD4KICAgICAgPC9zdmc+CiAgICA=
                      genius_workflow_runs_count: 0
                      slack_channel_archived: false
                      google_drive_parent_id: null
                      in_triage_at: null
                      in_triage_by_user_id: null
                      external_id: null
                      slack_channel_deep_link: null
                      retrospective_progress_status: not_started
                      users_assigned_count: 0
                      retrospective_completed_at: null
                      retrospective_started_at: null
                      pagerduty_incident_number: null
                      current_tutorial_step: not_started
                      clickup_task_id: null
                      clickup_task_url: null
                      slack_notify_ready_for_retrospective_timestamp: null
                      notify_emails: []
                      status_page_io_components: []
                      retrospective_auto_skipped: false
                      retrospective_mandatory: false
                      embedding: null
                      zoom_meeting_transcript: {}
                      google_meeting_transcript: {}
                      webex_meeting_transcript: {}
                      microsoft_teams_meeting_transcript: {}
                      zoom_meeting_bot_id: null
                      google_meeting_bot_id: null
                      webex_meeting_bot_id: null
                      microsoft_teams_meeting_bot_id: null
                      zoom_meeting_transcript_summary: null
                      google_meeting_transcript_summary: null
                      webex_meeting_transcript_summary: null
                      microsoft_teams_meeting_transcript_summary: null
                      gitlab_issue_id: null
                      gitlab_issue_url: null
                      outlook_event_id: null
                      outlook_event_url: null
                      sharepoint_page_id: null
                      sharepoint_page_url: null
                      created_from_slack_identifier: null
                      zoom_meeting_pstn_password: null
                      zoom_meeting_h323_password: null
                      zoom_meeting_global_dial_in_numbers: []
                      left_slack_channel_slack_user_ids: []
                      using_redesigned_slack_announcement: true
                      using_redesigned_slack_updates: true
                      motion_task_id: null
                      motion_task_url: null
                      sub_status_id: 244563a2-7576-4bec-8aba-9436195e9b00
                      closed_at: null
                      closed_by_user_id: null
                      microsoft_teams_channel_id: null
                      microsoft_teams_channel_name: null
                      microsoft_teams_channel_url: null
                      microsoft_teams_channel_short_url: null
                      microsoft_teams_team_id: null
                      triggered_from_microsoft_teams_channel_id: null
                      microsoft_teams_summary_message_id: null
                      slack_last_message_ts: null
                      zoom_meeting_password: null
                      microsoft_teams_channel_service_url: null
                      microsoft_teams_team_internal_id: null
                      triggered_from_slack_message_ts: null
                      triggered_from_slack_thread_ts: null
                      sub_incidents_count: 0
                      coda_doc_id: null
                      coda_doc_url: null
                      coda_page_id: null
                      raw_labels: null
                      tutorial_steps: null
                    data: {}
                    started_at: 2025-05-22T06:41:36.250-07:00
                    ended_at: null
                    external_id: null
                    external_url: http://yost-gutkowski.test/ronnie
                    url: https://test.rootly.com/account/alerts/a4e2e382-667d-4ee7-988c-ec3834b8092e
                    notification_target_type: null
                    notification_target_id: null
                    alert_urgency_id: 6cbd92b8-fbef-43c3-bf45-4c491dd53ef7
                    notified_users: []
                    created_at: 2025-05-22T06:41:36.250-07:00
                    updated_at: 2025-05-22T06:41:36.250-07:00
                links:
                  self: http://www.example.com/v1/incidents/c33e16dc-02c3-431b-84e8-b762a18fb958/alerts?page%5Bnumber%5D=1&page%5Bsize%5D=10
                  first: http://www.example.com/v1/incidents/c33e16dc-02c3-431b-84e8-b762a18fb958/alerts?page%5Bnumber%5D=1&page%5Bsize%5D=10
                  prev: null
                  next: null
                  last: http://www.example.com/v1/incidents/c33e16dc-02c3-431b-84e8-b762a18fb958/alerts?page%5Bnumber%5D=1&page%5Bsize%5D=10
              schema:
                $ref: '#/components/schemas/alert_list'
          description: alert created
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Attach alerts to an incident
      tags:
      - Alerts
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alerts:
    get:
      description: List alerts
      operationId: listAlerts
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[status]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_list'
          description: filter by status
      security:
      - bearer_auth: []
      summary: List alerts
      tags:
      - Alerts
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert from provided data
      operationId: createAlert
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: c405de09-b400-49f1-a85b-46f4cd867fd8
                  type: alerts
                  attributes:
                    short_id: null
                    source: asana
                    status: open
                    summary: Asana ticket created
                    description: null
                    labels:
                    - key: status
                      value: succeeded
                    services:
                    - id: a517a8dc-ab4b-4d43-ba11-f6f69b3cacfe
                      team_id: 17
                      name: Odio nobis accusamus officiis.
                      slug: odio-nobis-accusamus-officiis
                      description: Enim sed laborum fugit.
                      deleted_at: null
                      created_at: 2025-05-22T06:41:38.642-07:00
                      updated_at: 2025-05-22T06:41:38.642-07:00
                      opsgenie_id: null
                      pagerduty_id: null
                      public_description: null
                      github_repository_branch: master
                      github_repository_name: null
                      color: '#D7F5E1'
                      heroku_app_name: null
                      gitlab_repository_name: null
                      gitlab_repository_branch: master
                      kubernetes_deployment_name: null
                      incidents_count: 0
                      position: 1
                      slack_channels: []
                      slack_aliases: []
                      backstage_id: null
                      show_uptime: true
                      show_uptime_last_days: 60
                      status: operational
                      external_id: null
                      notify_emails: []
                      cortex_id: null
                      alerts_email_enabled: false
                      alerts_email_address: service-26cd1ed0f44c16cf90227f84661413ff@email.rootly.com
                      opsgenie_team_id: null
                      service_now_ci_sys_id: null
                      alert_urgency_id: null
                      opslevel_id: null
                      datadog_id: null
                    service_ids:
                    - a517a8dc-ab4b-4d43-ba11-f6f69b3cacfe
                    groups: []
                    group_ids: []
                    environments:
                    - id: 836116f0-7d09-4123-9e51-da883f7ef157
                      team_id: 17
                      name: Et quo voluptatem culpa.
                      slug: et-quo-voluptatem-culpa
                      description: Nam ducimus aut fugiat.
                      color: '#fefe62'
                      deleted_at: null
                      created_at: 2025-05-22T06:41:38.670-07:00
                      updated_at: 2025-05-22T06:41:38.670-07:00
                      incidents_count: 0
                      position: 1
                      slack_channels: []
                      slack_aliases: []
                      external_id: null
                      notify_emails: []
                    environment_ids:
                    - 836116f0-7d09-4123-9e51-da883f7ef157
                    responders: []
                    incidents: []
                    data:
                      url: https://asana.com/issues/1
                    started_at: 2025-05-22T06:39:00.000-07:00
                    ended_at: 2025-05-22T06:41:00.000-07:00
                    external_id: null
                    external_url: null
                    url: https://test.rootly.com/account/alerts/c405de09-b400-49f1-a85b-46f4cd867fd8
                    notification_target_type: null
                    notification_target_id: null
                    alert_urgency_id: 5c4ff89a-880b-4c4b-81f4-a477d3d568c0
                    notified_users: []
                    created_at: 2025-05-22T06:41:41.162-07:00
                    updated_at: 2025-05-22T06:41:41.162-07:00
              schema:
                $ref: '#/components/schemas/alert_response'
          description: alert created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Summary can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Creates an alert
      tags:
      - Alerts
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alerts/{id}:
    get:
      description: Retrieves a specific alert by id
      operationId: getAlert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: a4e2e382-667d-4ee7-988c-ec3834b8092e
                  type: alerts
                  attributes:
                    short_id: oz4tfm
                    source: pagerduty
                    status: open
                    summary: Sunt eaque est in.
                    description: Delectus sunt deserunt. Et qui totam. Blanditiis
                      sit aut.
                    labels: []
                    services: []
                    service_ids: []
                    groups: []
                    group_ids: []
                    environments: []
                    environment_ids: []
                    responders: []
                    incidents:
                    - id: c33e16dc-02c3-431b-84e8-b762a18fb958
                      user_id: 27
                      team_id: 17
                      title: Dolorum tempore vel dolor.
                      slug: dolorum-tempore-vel-dolor
                      summary: Dolor occaecati voluptatem. Quo minima quod. In soluta
                        autem.
                      status: started
                      slack_channel_id: null
                      started_at: 2025-05-22T06:41:33.101-07:00
                      mitigated_at: null
                      resolved_at: null
                      deleted_at: null
                      created_at: 2025-05-22T06:41:33.101-07:00
                      updated_at: 2025-05-22T06:41:37.490-07:00
                      severity_id: 3454a55e-faa3-44a4-b347-bc4927c0babb
                      public_title: null
                      zoom_meeting_id: null
                      zoom_meeting_start_url: null
                      zoom_meeting_join_url: null
                      shortcut_story_id: null
                      shortcut_story_url: null
                      asana_task_id: null
                      asana_task_url: null
                      jira_issue_id: null
                      jira_issue_url: null
                      email_message_id: null
                      google_meeting_id: null
                      google_meeting_url: null
                      trello_card_id: null
                      trello_card_url: null
                      linear_issue_id: null
                      linear_issue_url: null
                      zendesk_ticket_id: null
                      zendesk_ticket_url: null
                      slack_channel_name: null
                      service_now_incident_id: null
                      service_now_incident_url: null
                      opsgenie_incident_id: null
                      opsgenie_incident_url: null
                      opsgenie_incident_responder_ids: []
                      labels: {}
                      incidents_action_items_count: 0
                      incidents_tasks_count: 0
                      mitigation_message: null
                      resolution_message: null
                      pagerduty_incident_responder_ids: {}
                      victor_ops_incident_id: null
                      victor_ops_incident_url: null
                      victor_ops_incident_responder_ids: {}
                      pagerduty_incident_id: null
                      pagerduty_incident_url: null
                      status_pages_count: 0
                      mattermost_channel_id: null
                      slack_summary_timestamp: null
                      mattermost_channel_name: null
                      mattermost_channel_url: null
                      slack_channel_url: null
                      mattermost_summary_timestamp: null
                      confluence_page_id: null
                      confluence_page_url: null
                      kind: normal
                      scheduled_for: null
                      scheduled_until: null
                      scheduled_remind_prior: false
                      scheduled_auto_in_progress: true
                      scheduled_auto_completed: true
                      detected_at: null
                      acknowledged_at: null
                      private: false
                      airtable_record_id: null
                      airtable_record_url: null
                      google_drive_id: null
                      google_drive_url: null
                      summary_updated_at: null
                      sequential_id: 1
                      slack_channels: []
                      airtable_base_key: null
                      airtable_table_name: null
                      shortcut_task_id: null
                      shortcut_task_url: null
                      title_autogenerated: false
                      view_source: null
                      source: web
                      microsoft_teams_meeting_url: null
                      microsoft_teams_meeting_id: null
                      dropbox_paper_id: null
                      dropbox_paper_url: null
                      subscribers_count: 0
                      status_page_io: {}
                      webex_meeting_id: null
                      webex_meeting_url: null
                      github_issue_id: null
                      github_issue_url: null
                      cancelled_at: null
                      cancellation_message: null
                      notion_page_id: null
                      notion_page_url: null
                      datadog_notebook_id: null
                      datadog_notebook_url: null
                      notify_channels: {}
                      freshservice_ticket_id: null
                      freshservice_ticket_url: null
                      freshservice_task_id: null
                      freshservice_task_url: null
                      started_by_user_id: 27
                      mitigated_by_user_id: null
                      resolved_by_user_id: null
                      cancelled_by_user_id: null
                      slack_aliases: []
                      slack_channel_workspace_id: null
                      google_calendar_event_url: null
                      google_calendar_event_id: null
                      short_url: null
                      slack_channel_short_url: null
                      go_to_meeting_id: null
                      go_to_meeting_url: null
                      jira_issue_key: null
                      linear_issue_key: null
                      opsgenie_alert_id: null
                      opsgenie_alert_url: null
                      triggered_from_slack_channel_id: null
                      service_now_incident_key: null
                      quip_page_id: null
                      quip_page_url: null
                      pagertree_alert_id: null
                      pagertree_alert_url: null
                      duplicate_incident_id: null
                      parent_incident_id: null
                      ability_cache: null
                      previous_attributes:
                        updated_at: 2025-05-22T06:41:33.302-07:00
                        incident_events:
                        - Started date has been set to <span class="badge badge-info-inverted">May
                          22  6:41 AM PDT</span>
                        - Paris Kris created this incident
                        user_avatar_url: |
                          data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KICAgICAg
                          PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8y
                          MDAwL3N2ZyIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAg
                          MCAyMDAgMjAwIj4KICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWRp
                          ZW50XzE3NDc5MjEyOTdfNzc0MzQ1IiBncmFkaWVudFRyYW5zZm9ybT0icm90
                          YXRlKDE5MCkiPgogICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iIzdiNDM5
                          NyIgb2Zmc2V0PSIwJSIgLz4KICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9
                          IiM3YjQzOTciIG9mZnNldD0iMTAwJSIgLz4KICAgICAgICA8L2xpbmVhckdy
                          YWRpZW50PgogICAgICAgIDxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEw
                          MCUiIGZpbGw9InVybCgjZ3JhZGllbnRfMTc0NzkyMTI5N183NzQzNDUpIiAv
                          PgogICAgICAgIDx0ZXh0IGZpbGw9IiNGRkYiIGZvbnQtZmFtaWx5PSJPcGVu
                          IFNhbnMsSGVsdmV0aWNhLEFyaWFsLHNhbnMtc2VyaWYiIGZvbnQtc2l6ZT0i
                          MTAxIiBmb250LXdlaWdodD0iNTAwIiB4PSI1MCUiIHk9IjU1JSIgZG9taW5h
                          bnQtYmFzZWxpbmU9Im1pZGRsZSIgdGV4dC1hbmNob3I9Im1pZGRsZSI+CiAg
                          ICAgICAgICBQSwogICAgICAgIDwvdGV4dD4KICAgICAgPC9zdmc+CiAgICA=
                      genius_workflow_runs_count: 0
                      slack_channel_archived: false
                      google_drive_parent_id: null
                      in_triage_at: null
                      in_triage_by_user_id: null
                      external_id: null
                      slack_channel_deep_link: null
                      retrospective_progress_status: not_started
                      users_assigned_count: 0
                      retrospective_completed_at: null
                      retrospective_started_at: null
                      pagerduty_incident_number: null
                      current_tutorial_step: not_started
                      clickup_task_id: null
                      clickup_task_url: null
                      slack_notify_ready_for_retrospective_timestamp: null
                      notify_emails: []
                      status_page_io_components: []
                      retrospective_auto_skipped: false
                      retrospective_mandatory: false
                      embedding: null
                      zoom_meeting_transcript: {}
                      google_meeting_transcript: {}
                      webex_meeting_transcript: {}
                      microsoft_teams_meeting_transcript: {}
                      zoom_meeting_bot_id: null
                      google_meeting_bot_id: null
                      webex_meeting_bot_id: null
                      microsoft_teams_meeting_bot_id: null
                      zoom_meeting_transcript_summary: null
                      google_meeting_transcript_summary: null
                      webex_meeting_transcript_summary: null
                      microsoft_teams_meeting_transcript_summary: null
                      gitlab_issue_id: null
                      gitlab_issue_url: null
                      outlook_event_id: null
                      outlook_event_url: null
                      sharepoint_page_id: null
                      sharepoint_page_url: null
                      created_from_slack_identifier: null
                      zoom_meeting_pstn_password: null
                      zoom_meeting_h323_password: null
                      zoom_meeting_global_dial_in_numbers: []
                      left_slack_channel_slack_user_ids: []
                      using_redesigned_slack_announcement: true
                      using_redesigned_slack_updates: true
                      motion_task_id: null
                      motion_task_url: null
                      sub_status_id: 244563a2-7576-4bec-8aba-9436195e9b00
                      closed_at: null
                      closed_by_user_id: null
                      microsoft_teams_channel_id: null
                      microsoft_teams_channel_name: null
                      microsoft_teams_channel_url: null
                      microsoft_teams_channel_short_url: null
                      microsoft_teams_team_id: null
                      triggered_from_microsoft_teams_channel_id: null
                      microsoft_teams_summary_message_id: null
                      slack_last_message_ts: null
                      zoom_meeting_password: null
                      microsoft_teams_channel_service_url: null
                      microsoft_teams_team_internal_id: null
                      triggered_from_slack_message_ts: null
                      triggered_from_slack_thread_ts: null
                      sub_incidents_count: 0
                      coda_doc_id: null
                      coda_doc_url: null
                      coda_page_id: null
                      raw_labels: null
                      tutorial_steps: null
                    data: {}
                    started_at: 2025-05-22T06:41:36.250-07:00
                    ended_at: null
                    external_id: null
                    external_url: http://yost-gutkowski.test/ronnie
                    url: https://test.rootly.com/account/alerts/a4e2e382-667d-4ee7-988c-ec3834b8092e
                    notification_target_type: null
                    notification_target_id: null
                    alert_urgency_id: 6cbd92b8-fbef-43c3-bf45-4c491dd53ef7
                    notified_users: []
                    created_at: 2025-05-22T06:41:36.250-07:00
                    updated_at: 2025-05-22T06:41:36.250-07:00
              schema:
                $ref: '#/components/schemas/alert_response'
          description: alert found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert
      tags:
      - Alerts
      x-accepts:
      - application/vnd.api+json
    patch:
      description: Updates an alert
      operationId: updateAlert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert'
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: a4e2e382-667d-4ee7-988c-ec3834b8092e
                  type: alerts
                  attributes:
                    short_id: oz4tfm
                    source: pagerduty
                    status: open
                    summary: test update
                    description: test update
                    labels:
                    - key: foo
                      value: bar
                    - key: bar
                      value: baz
                    services:
                    - id: a517a8dc-ab4b-4d43-ba11-f6f69b3cacfe
                      team_id: 17
                      name: Odio nobis accusamus officiis.
                      slug: odio-nobis-accusamus-officiis
                      description: Enim sed laborum fugit.
                      deleted_at: null
                      created_at: 2025-05-22T06:41:38.642-07:00
                      updated_at: 2025-05-22T06:41:38.642-07:00
                      opsgenie_id: null
                      pagerduty_id: null
                      public_description: null
                      github_repository_branch: master
                      github_repository_name: null
                      color: '#D7F5E1'
                      heroku_app_name: null
                      gitlab_repository_name: null
                      gitlab_repository_branch: master
                      kubernetes_deployment_name: null
                      incidents_count: 0
                      position: 1
                      slack_channels: []
                      slack_aliases: []
                      backstage_id: null
                      show_uptime: true
                      show_uptime_last_days: 60
                      status: operational
                      external_id: null
                      notify_emails: []
                      cortex_id: null
[...]
