openapi: 3.0.1
info:
  description: |+
    # How to generate an API Key?
    - **Organization dropdown** > **Organization Settings** > **API Keys**

    # JSON:API Specification
    Rootly is using **JSON:API** (https://jsonapi.org) specification:
    - JSON:API is a specification for how a client should request that resources be fetched or modified, and how a server should respond to those requests.
    - JSON:API is designed to minimize both the number of requests and the amount of data transmitted between clients and servers. This efficiency is achieved without compromising readability, flexibility, or discoverability.
    - JSON:API requires use of the JSON:API media type (**application/vnd.api+json**) for exchanging data.

    # Authentication and Requests
    We use standard HTTP Authentication over HTTPS to authorize your requests.
    ```
      curl --request GET \
    --header 'Content-Type: application/vnd.api+json' \
    --header 'Authorization: Bearer YOUR-TOKEN' \
    --url https://api.rootly.com/v1/incidents
    ```

    <br/>

    # Rate limiting
    - There is a default limit of **5** **GET**, **HEAD**, and **OPTIONS** calls **per API key** every **60 seconds** (0 hours). The limit is calculated over a **0-hour sliding window** looking back from the current time. While the limit can be configured to support higher thresholds, you must first contact your **Rootly Customer Success Manager** to make any adjustments.
    - There is a default limit of **3** **POST**, **PUT**, **PATCH** or **DELETE** calls **per API key** every **60 seconds** (0 hours). The limit is calculated over a **0-hour sliding window** looking back from the current time. While the limit can be configured to support higher thresholds, you must first contact your **Rootly Customer Success Manager** to make any adjustments.
    - When rate limits are exceeded, the API will return a **429 Too Many Requests** HTTP status code with the response: `{"error": "Rate limit exceeded. Try again later."}`
    - **X-RateLimit headers** are included in every API response, providing real-time rate limit information:
      - **X-RateLimit-Limit** - The maximum number of requests permitted and the time window (e.g., "1000, 1000;window=3600" for 1000 requests per hour)
      - **X-RateLimit-Remaining** - The number of requests remaining in the current rate limit window
      - **X-RateLimit-Used** - The number of requests already made in the current window
      - **X-RateLimit-Reset** - The time at which the current rate limit window resets, in UTC epoch seconds

    # Pagination
    - Pagination is supported for all endpoints that return a collection of items.
    - Pagination is controlled by the **page** query parameter

    ## Example
    ```
      curl --request GET \
    --header 'Content-Type: application/vnd.api+json' \
    --header 'Authorization: Bearer YOUR-TOKEN' \
    --url https://api.rootly.com/v1/incidents?page[number]=1&page[size]=10
    ```

  title: Rootly API v1
  version: v1
  x-logo:
    url: https://rootly-heroku.s3.us-east-1.amazonaws.com/swagger/v1/logo.png
    alt: Rootly
servers:
- url: https://api.rootly.com
paths:
  /v1/alerts/{alert_id}/events:
    get:
      description: List alert_events
      operationId: listAlertEvents
      parameters:
      - explode: false
        in: path
        name: alert_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[kind]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[action]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_event_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert events
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert event
      operationId: createAlertEvent
      parameters:
      - explode: false
        in: path
        name: alert_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_event'
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 7fd7f16d-0ff0-42ef-9e66-1e22e2c69fd8
                  type: alert_events
                  attributes:
                    kind: note
                    source: api
                    action: created
                    details: This is a test note
                    user:
                      id: 6
                      ability_cache: null
                      accept_marketing: true
                      accept_terms: true
                      created_at: 2026-01-20T09:26:07.099-08:00
                      created_through_sso: false
                      current_team_id: 2
                      deleted_at: null
                      email: bot@rootly.com
                      external_id: null
                      first_name: Rootly
                      has_impersonate_write_permission: false
                      how_did_you_hear_about_us: null
                      incidents_backfilled_count: 0
                      incidents_count: 0
                      incidents_example_count: 0
                      incidents_normal_count: 0
                      incidents_scheduled_count: 0
                      incidents_test_count: 0
                      is_super_admin: false
                      jti: d43977c5-9fa7-4a7b-b930-f1217757b86b
                      last_name: null
                      last_notification_email_sent_at: null
                      last_seen_at: null
                      locale: en
                      onboarding_completed: true
                      opsgenie_id: null
                      pagerduty_id: null
                      profile_photo_id: null
                      push_notification_new_alert_sound: default
                      push_notification_new_alert_volume: 1.0
                      push_notification_shift_coverage_sound: soft_bloob
                      push_notification_shift_ends_sound: soft_bloob
                      push_notification_shift_starts_sound: soft_bloob
                      scim_uid: null
                      service_user: true
                      session_token: null
                      skip_tutorial: false
                      teams_count: 1
                      theme: light_v2
                      time_zone: America/Los_Angeles
                      updated_at: 2026-01-20T09:26:07.099-08:00
                      victor_ops_id: null
                      view_multiple_schedules: true
                    user_id: 6
                    incident: null
                    schedule: null
                    escalation_level: null
                    escalation_target_type: null
                    escalation_target: null
                    slack_channel: null
                    incident_ids: []
                    created_at: 2026-01-20T09:26:07.532-08:00
                    updated_at: 2026-01-20T09:26:07.532-08:00
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert event created with Rootly bot user
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Details can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
      security:
      - bearer_auth: []
      summary: Create alert event
      tags:
      - AlertEvents
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_events/{id}:
    delete:
      description: Deletes a specific alert event. Only alert events with kind 'note'
        (user-created notes) can be deleted. System-generated events are immutable
        to maintain audit trail integrity.
      operationId: deleteAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: alert event deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert event not found
      security:
      - bearer_auth: []
      summary: Delete alert event
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert_event by id
      operationId: getAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: b61f84c4-9dc5-4eaa-ad61-7c5e5d4f361d
                  type: alert_events
                  attributes:
                    kind: note
                    source: api
                    action: created
                    details: test note
                    user:
                      id: 1
                      ability_cache: null
                      accept_marketing: true
                      accept_terms: true
                      created_at: 2026-01-20T09:26:05.180-08:00
                      created_through_sso: false
                      current_team_id: 1
                      deleted_at: null
                      email: billie@kautzer.example
                      external_id: null
                      first_name: Raleigh
                      has_impersonate_write_permission: false
                      how_did_you_hear_about_us: null
                      incidents_backfilled_count: 0
                      incidents_count: 0
                      incidents_example_count: 0
                      incidents_normal_count: 0
                      incidents_scheduled_count: 0
                      incidents_test_count: 0
                      is_super_admin: false
                      jti: 165f8c9b-3bd6-476d-88ad-4cc99c7bf077
                      last_name: Feest
                      last_notification_email_sent_at: null
                      last_seen_at: null
                      locale: en
                      onboarding_completed: true
                      opsgenie_id: null
                      pagerduty_id: null
                      profile_photo_id: null
                      push_notification_new_alert_sound: default
                      push_notification_new_alert_volume: 1.0
                      push_notification_shift_coverage_sound: soft_bloob
                      push_notification_shift_ends_sound: soft_bloob
                      push_notification_shift_starts_sound: soft_bloob
                      scim_uid: null
                      service_user: false
                      session_token: null
                      skip_tutorial: false
                      teams_count: 1
                      theme: light_v2
                      time_zone: UTC
                      updated_at: 2026-01-20T09:26:05.879-08:00
                      victor_ops_id: null
                      view_multiple_schedules: true
                    user_id: 1
                    incident: null
                    schedule: null
                    escalation_level: null
                    escalation_target_type: null
                    escalation_target: null
                    slack_channel: null
                    incident_ids: []
                    created_at: 2026-01-20T09:26:07.238-08:00
                    updated_at: 2026-01-20T09:26:07.238-08:00
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert_event found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert_event not found
      security:
      - bearer_auth: []
      summary: Retrieve alert event
      tags:
      - AlertEvents
      x-accepts:
      - application/vnd.api+json
    patch:
      description: Updates a specific alert event. Only alert events with kind 'note'
        (user-created notes) can be updated. System-generated events are immutable
        to maintain audit trail integrity.
      operationId: updateAlertEvent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_event'
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: b61f84c4-9dc5-4eaa-ad61-7c5e5d4f361d
                  type: alert_events
                  attributes:
                    kind: note
                    source: api
                    action: created
                    details: Updated details
                    user:
                      id: 1
                      ability_cache: null
                      accept_marketing: true
                      accept_terms: true
                      created_at: 2026-01-20T09:26:05.180-08:00
                      created_through_sso: false
                      current_team_id: 1
                      deleted_at: null
                      email: billie@kautzer.example
                      external_id: null
                      first_name: Raleigh
                      has_impersonate_write_permission: false
                      how_did_you_hear_about_us: null
                      incidents_backfilled_count: 0
                      incidents_count: 0
                      incidents_example_count: 0
                      incidents_normal_count: 0
                      incidents_scheduled_count: 0
                      incidents_test_count: 0
                      is_super_admin: false
                      jti: 165f8c9b-3bd6-476d-88ad-4cc99c7bf077
                      last_name: Feest
                      last_notification_email_sent_at: null
                      last_seen_at: null
                      locale: en
                      onboarding_completed: true
                      opsgenie_id: null
                      pagerduty_id: null
                      profile_photo_id: null
                      push_notification_new_alert_sound: default
                      push_notification_new_alert_volume: 1.0
                      push_notification_shift_coverage_sound: soft_bloob
                      push_notification_shift_ends_sound: soft_bloob
                      push_notification_shift_starts_sound: soft_bloob
                      scim_uid: null
                      service_user: false
                      session_token: null
                      skip_tutorial: false
                      teams_count: 1
                      theme: light_v2
                      time_zone: UTC
                      updated_at: 2026-01-20T09:26:05.879-08:00
                      victor_ops_id: null
                      view_multiple_schedules: true
                    user_id: 1
                    incident: null
                    schedule: null
                    escalation_level: null
                    escalation_target_type: null
                    escalation_target: null
                    slack_channel: null
                    incident_ids: []
                    created_at: 2026-01-20T09:26:07.238-08:00
                    updated_at: 2026-01-20T09:26:07.883-08:00
              schema:
                $ref: '#/components/schemas/alert_event_response'
          description: alert event updated
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Details can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
      security:
      - bearer_auth: []
      summary: Update alert event
      tags:
      - AlertEvents
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_fields:
    get:
      description: List alert fields
      operationId: listAlertFields
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[kind]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_field_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert fields
      tags:
      - AlertFields
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert field from provided data
      operationId: createAlertField
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_field'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 0714d317-cd5b-4aee-930d-ff356abf1281
                  type: alert_fields
                  attributes:
                    slug: custom-field-test
                    name: Custom Field Test
                    kind: custom
                    created_at: 2026-01-20T09:26:10.464-08:00
                    updated_at: 2026-01-20T09:26:10.464-08:00
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: alert field created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert field
      tags:
      - AlertFields
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_fields/{id}:
    delete:
      description: Delete a specific alert field by id
      operationId: deleteAlertField
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: c750c519-f57f-4cab-a29e-da6369c466c5
                  type: alert_fields
                  attributes:
                    slug: alert-field-12
                    name: Alert Field 12
                    kind: custom
                    created_at: 2026-01-20T09:26:11.323-08:00
                    updated_at: 2026-01-20T09:26:11.391-08:00
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: custom alert field deleted successfully
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Cannot delete record because dependent alert routing rule
                    conditions exist
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cannot delete alert field with associated records
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert field
      tags:
      - AlertFields
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert field by id
      operationId: getAlertField
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 7cf6447e-37a9-4a0d-983c-6ee8d8905be3
                  type: alert_fields
                  attributes:
                    slug: alert-field-1
                    name: Alert Field 1
                    kind: custom
                    created_at: 2026-01-20T09:26:09.381-08:00
                    updated_at: 2026-01-20T09:26:09.381-08:00
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: alert_field found by slug
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert field
      tags:
      - AlertFields
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert field by id
      operationId: updateAlertField
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_field'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 7cf6447e-37a9-4a0d-983c-6ee8d8905be3
                  type: alert_fields
                  attributes:
                    slug: alert-field-1
                    name: Updated Custom Field
                    kind: custom
                    created_at: 2026-01-20T09:26:09.381-08:00
                    updated_at: 2026-01-20T09:26:11.111-08:00
              schema:
                $ref: '#/components/schemas/alert_field_response'
          description: alert field updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert field
      tags:
      - AlertFields
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_groups:
    get:
      description: List alert groups
      operationId: listAlertGroups
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_group_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert groups
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    post:
      description: "Creates a new alert group. **Note**: For enhanced functionality\
        \ and future compatibility, consider using the advanced alert grouping with\
        \ `conditions` field instead of the legacy `group_by_alert_title`, `group_by_alert_urgency`,\
        \ and `attributes` fields."
      operationId: createAlertGroup
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_group'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 449f0228-048c-423d-9e7d-afb7309bd99e
                  type: alert_groups
                  attributes:
                    name: Test alert group
                    slug: test-alert-group
                    description: null
                    time_window: 10
                    condition_type: any
                    deleted_at: null
                    created_at: 2026-01-20T09:26:15.205-08:00
                    updated_at: 2026-01-20T09:26:15.205-08:00
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    targets:
                    - id: a3d74331-f2d8-477d-92d3-26fa8e6e729f
                      alert_group_id: 449f0228-048c-423d-9e7d-afb7309bd99e
                      created_at: 2026-01-20T09:26:15.206-08:00
                      deleted_at: null
                      target_id: a502046b-abc3-4d0f-9883-3c5afa311695
                      target_type: Service
                      updated_at: 2026-01-20T09:26:15.206-08:00
                    attributes: []
                    conditions:
                    - id: 185db5f5-0a42-48b0-b838-c9c2377fc226
                      property_field_condition_type: is_one_of
                      property_field_name: description
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values:
                      - Test description
                      created_at: 2026-01-20T09:26:15.207-08:00
                      updated_at: 2026-01-20T09:26:15.207-08:00
                      conditionable_type: null
                      conditionable_id: null
                    - id: 20dcc3d4-75a3-4edd-9d1a-ccfb4918312e
                      property_field_condition_type: is_one_of
                      property_field_name: alert_urgency
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values: []
                      created_at: 2026-01-20T09:26:15.208-08:00
                      updated_at: 2026-01-20T09:26:15.208-08:00
                      conditionable_type: null
                      conditionable_id: null
                      values:
                      - record_id: 91940e6a-db8e-4562-bed9-9fa442cf0fef
                        record_type: AlertUrgency
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group created with conditions
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
                - title: Destinations can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert group
      tags:
      - AlertGroups
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_groups/{id}:
    delete:
      description: Delete a specific alert group by id
      operationId: deleteAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 7680c6d3-f93f-44a1-8fe1-53b8dbf46f55
                  type: alert_groups
                  attributes:
                    name: 123 test group
                    slug: 123-test-group
                    description: null
                    time_window: 10
                    condition_type: any
                    deleted_at: 2026-01-20T09:26:16.267-08:00
                    created_at: 2026-01-20T09:26:14.824-08:00
                    updated_at: 2026-01-20T09:26:16.267-08:00
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    targets: []
                    attributes: []
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert group
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert group by id
      operationId: getAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 7680c6d3-f93f-44a1-8fe1-53b8dbf46f55
                  type: alert_groups
                  attributes:
                    name: 123 test group
                    slug: 123-test-group
                    description: null
                    time_window: 10
                    condition_type: any
                    deleted_at: null
                    created_at: 2026-01-20T09:26:14.824-08:00
                    updated_at: 2026-01-20T09:26:14.824-08:00
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    targets:
                    - id: 5537c699-c6ae-48a5-9f03-6be3454d2d4f
                      alert_group_id: 7680c6d3-f93f-44a1-8fe1-53b8dbf46f55
                      created_at: 2026-01-20T09:26:14.826-08:00
                      deleted_at: null
                      target_id: a502046b-abc3-4d0f-9883-3c5afa311695
                      target_type: Service
                      updated_at: 2026-01-20T09:26:14.826-08:00
                    attributes: []
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert_group found by slug
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert group
      tags:
      - AlertGroups
      x-accepts:
      - application/vnd.api+json
    patch:
      description: "Update a specific alert group by id. **Note**: For enhanced functionality\
        \ and future compatibility, consider using the advanced alert grouping with\
        \ `conditions` field instead of the legacy `group_by_alert_title`, `group_by_alert_urgency`,\
        \ and `attributes` fields."
      operationId: updateAlertGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_group'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 7680c6d3-f93f-44a1-8fe1-53b8dbf46f55
                  type: alert_groups
                  attributes:
                    name: Group name updated
                    slug: 123-test-group
                    description: null
                    time_window: 10
                    condition_type: any
                    deleted_at: null
                    created_at: 2026-01-20T09:26:14.824-08:00
                    updated_at: 2026-01-20T09:26:16.019-08:00
                    group_by_alert_title: false
                    group_by_alert_urgency: false
                    targets:
                    - id: 5537c699-c6ae-48a5-9f03-6be3454d2d4f
                      alert_group_id: 7680c6d3-f93f-44a1-8fe1-53b8dbf46f55
                      created_at: 2026-01-20T09:26:14.826-08:00
                      deleted_at: null
                      target_id: a502046b-abc3-4d0f-9883-3c5afa311695
                      target_type: Service
                      updated_at: 2026-01-20T09:26:14.826-08:00
                    attributes: []
                    conditions:
                    - id: 56e2850a-8a94-4aff-b7ac-0f811f832046
                      property_field_condition_type: is_one_of
                      property_field_name: description
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values:
                      - Test description
                      created_at: 2026-01-20T09:26:16.020-08:00
                      updated_at: 2026-01-20T09:26:16.020-08:00
                      conditionable_type: null
                      conditionable_id: null
                    - id: 703c9fac-1bce-492a-b124-edffa39400a3
                      property_field_condition_type: is_one_of
                      property_field_name: alert_urgency
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values: []
                      created_at: 2026-01-20T09:26:16.021-08:00
                      updated_at: 2026-01-20T09:26:16.021-08:00
                      conditionable_type: null
                      conditionable_id: null
                      values:
                      - record_id: 91940e6a-db8e-4562-bed9-9fa442cf0fef
                        record_type: AlertUrgency
              schema:
                $ref: '#/components/schemas/alert_group_response'
          description: alert group updated with conditions
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert group
      tags:
      - AlertGroups
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routes:
    get:
      description: "List all alert routes for the current team with filtering and\
        \ pagination. **Note: This endpoint requires access to Advanced Alert Routing.\
        \ If you're unsure whether you have access to this feature, please contact\
        \ Rootly customer support.**"
      operationId: listAlertRoutes
      parameters:
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                - id: 4cf84296-cf2c-4977-a10e-d44a145fb3dc
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-2dcf
                    enabled: true
                    created_at: 2026-01-20T09:26:23.920-08:00
                    updated_at: 2026-01-20T09:26:23.920-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: bdc98a48-ce8d-42f4-8575-8d87eb72a364
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-57b8
                    enabled: true
                    created_at: 2026-01-20T09:26:23.916-08:00
                    updated_at: 2026-01-20T09:26:23.916-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: e56ed580-f30c-45d8-a420-69301d998dd0
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-a2ec
                    enabled: true
                    created_at: 2026-01-20T09:26:23.913-08:00
                    updated_at: 2026-01-20T09:26:23.913-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 82c48b9a-f119-4ff0-8d91-19d4aaf60530
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-4e6f
                    enabled: true
                    created_at: 2026-01-20T09:26:23.908-08:00
                    updated_at: 2026-01-20T09:26:23.908-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 0f2a4ccd-0fa7-431f-ac55-6ee863bb9b2b
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-1798
                    enabled: true
                    created_at: 2026-01-20T09:26:23.904-08:00
                    updated_at: 2026-01-20T09:26:23.904-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: c2fb5ea9-989b-4cb8-8908-7a6644888790
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-251e
                    enabled: true
                    created_at: 2026-01-20T09:26:23.900-08:00
                    updated_at: 2026-01-20T09:26:23.900-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: fed21f66-0f5a-47fe-96dd-54580c41ea24
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-b348
                    enabled: true
                    created_at: 2026-01-20T09:26:23.896-08:00
                    updated_at: 2026-01-20T09:26:23.896-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: bdc820b2-2f86-4cd2-9253-e9691b28c673
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-fddd
                    enabled: true
                    created_at: 2026-01-20T09:26:23.892-08:00
                    updated_at: 2026-01-20T09:26:23.892-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 30d8899d-cad9-4285-81e3-5a7038952971
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-fca9
                    enabled: true
                    created_at: 2026-01-20T09:26:23.887-08:00
                    updated_at: 2026-01-20T09:26:23.887-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 6d30d712-7814-4c23-8f42-867c655c530e
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-abbd
                    enabled: true
                    created_at: 2026-01-20T09:26:23.878-08:00
                    updated_at: 2026-01-20T09:26:23.878-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
                - id: 55636825-fb34-44ce-b522-852606580e87
                  type: alert_routes
                  attributes:
                    name: Alert Routing Rule 2
                    enabled: false
                    created_at: 2026-01-20T09:26:23.735-08:00
                    updated_at: 2026-01-20T09:26:23.735-08:00
                    alerts_source_ids:
                    - 26b606d2-fe96-4c7c-9c15-2315cd98ae32
                    owning_team_ids:
                    - d463426c-fe46-4aea-bf91-4a014806ad3e
                    rules:
                    - id: d3eba346-6b9e-40c3-99de-20a3bbb43be6
                      name: Alert Routing Rule 2
                      alerts_source_id: 26b606d2-fe96-4c7c-9c15-2315cd98ae32
                      condition_type: all
                      enabled: false
                      position: 1
                      destination:
                        target_type: EscalationPolicy
                        target_id: 958cba9b-c98b-46a9-9999-b84d8a4d396f
                      created_at: 2026-01-20T09:26:23.743-08:00
                      updated_at: 2026-01-20T09:26:23.743-08:00
                      destinations:
                      - target_type: EscalationPolicy
                        target_id: 958cba9b-c98b-46a9-9999-b84d8a4d396f
                      condition_groups: []
                      owning_teams:
                      - id: d463426c-fe46-4aea-bf91-4a014806ad3e
                        slug: laudantium-sint-dolorum-nihil
                        name: Laudantium sint dolorum nihil.
                        description: null
                        color: '#E65252'
                        position: 1
                        notify_emails: []
                        slack_channels: []
                        slack_aliases: []
                        pagerduty_id: null
                        pagerduty_service_id: null
                        backstage_id: null
                        external_id: null
                        opsgenie_id: null
                        victor_ops_id: null
                        pagertree_id: null
                        cortex_id: null
                        service_now_ci_sys_id: null
                        user_ids: []
                        admin_ids: []
                        incidents_count: 0
                        alert_urgency_id: null
                        alerts_email_enabled: false
                        alerts_email_address: group-c0c82e56cd5c8ddcfa4340b85498c6c4@email.rootly.com
                        alert_broadcast_enabled: false
                        alert_broadcast_channel: {}
                        incident_broadcast_enabled: false
                        incident_broadcast_channel: {}
                        auto_add_members_when_attached: false
                        created_at: 2026-01-20T09:26:17.420-08:00
                        updated_at: 2026-01-20T09:26:17.420-08:00
                      fallback_rule: false
                links:
                  self: http://www.example.com/v1/alert_routes?page%5Bnumber%5D=1&page%5Bsize%5D=50
                  first: http://www.example.com/v1/alert_routes?page%5Bnumber%5D=1&page%5Bsize%5D=50
                  prev: null
                  next: null
                  last: http://www.example.com/v1/alert_routes?page%5Bnumber%5D=1&page%5Bsize%5D=50
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_count: 11
                  total_pages: 1
              schema:
                $ref: '#/components/schemas/alert_route_list'
          description: alert routes filtered by search
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: List alert routes
      tags:
      - AlertRoutes
      x-accepts:
      - application/vnd.api+json
    post:
      description: |-
        Creates a new alert route from provided data. **Note: This endpoint requires access to Advanced Alert Routing. If you're unsure whether you have access to this feature, please contact Rootly customer support.**

        ## Asynchronous Rule Creation

        For organizations with large numbers of routing rules, Rootly supports asynchronous rule processing to improve performance. When enabled, rule creation happens in the background.

        **Important**: When async processing is enabled, the rules list in the API response will not be up-to-date immediately after creation. You should refetch the alert route after a few minutes to get the updated rules.

        If you experience slow operations when managing alert routes with many rules, contact Rootly customer support to enable asynchronous rule processing for your organization.
      operationId: createAlertRoute
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_route'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 1f7603a7-a8e8-4c3a-9085-2a5f0c7f8bd7
                  type: alert_routes
                  attributes:
                    name: Test Alert Route 6423
                    enabled: true
                    created_at: 2026-01-20T09:26:24.988-08:00
                    updated_at: 2026-01-20T09:26:24.988-08:00
                    alerts_source_ids:
                    - 38351f59-2ae2-493c-9122-c259cc40a45c
                    owning_team_ids:
                    - d463426c-fe46-4aea-bf91-4a014806ad3e
                    rules:
                    - id: 49870117-fd9f-4e67-9e23-1f403057e335
                      name: Test Routing Rule
                      alerts_source_id: null
                      condition_type: all
                      enabled: true
                      position: 1
                      destination:
                        target_type: Group
                        target_id: d463426c-fe46-4aea-bf91-4a014806ad3e
                      created_at: 2026-01-20T09:26:24.993-08:00
                      updated_at: 2026-01-20T09:26:24.993-08:00
                      destinations:
                      - target_type: Group
                        target_id: d463426c-fe46-4aea-bf91-4a014806ad3e
                      condition_groups:
                      - position: 1
                        conditions:
                        - property_field_condition_type: is_one_of
                          property_field_name: summary
                          property_field_type: attribute
                          property_field_value: null
                          property_field_values:
                          - Error from system
                          conditionable_id: null
                          conditionable_type: null
                      owning_teams: []
                      fallback_rule: false
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: unknown attribute filtered out gracefully
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: "create: raises error when multiple fallback rules are present"
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: Creates an alert route
      tags:
      - AlertRoutes
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routes/{id}:
    delete:
      description: "Delete a specific alert route by id. **Note: This endpoint requires\
        \ access to Advanced Alert Routing. If you're unsure whether you have access\
        \ to this feature, please contact Rootly customer support.**"
      operationId: deleteAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 6d30d712-7814-4c23-8f42-867c655c530e
                  type: alert_route
                  attributes:
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleteAlertRoute_200_response'
          description: alert route deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: destroy failed
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: Delete an alert route
      tags:
      - AlertRoutes
      x-accepts:
      - application/vnd.api+json
    get:
      description: "Get a specific alert route by id. **Note: This endpoint requires\
        \ access to Advanced Alert Routing. If you're unsure whether you have access\
        \ to this feature, please contact Rootly customer support.**"
      operationId: getAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 6d30d712-7814-4c23-8f42-867c655c530e
                  type: alert_routes
                  attributes:
                    name: Test Alert Route-abbd
                    enabled: true
                    created_at: 2026-01-20T09:26:23.878-08:00
                    updated_at: 2026-01-20T09:26:23.878-08:00
                    alerts_source_ids: []
                    owning_team_ids: []
                    rules: []
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: alert route found
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: unauthorized
      security:
      - bearer_auth: []
      summary: Get an alert route
      tags:
      - AlertRoutes
      x-accepts:
      - application/vnd.api+json
    put:
      description: |-
        Update a specific alert route by id. **Note: This endpoint requires access to Advanced Alert Routing. If you're unsure whether you have access to this feature, please contact Rootly customer support.**

        ## Asynchronous Rule Creation

        For organizations with large numbers of routing rules, Rootly supports asynchronous rule processing to improve performance. When enabled, rule updates happen in the background.

        **Important**: When async processing is enabled, the rules list in the API response will not be up-to-date immediately after update. You should refetch the alert route after a few minutes to get the updated rules.

        If you experience slow operations when managing alert routes with many rules, contact Rootly customer support to enable asynchronous rule processing for your organization.
      operationId: updateAlertRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_route'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 6d30d712-7814-4c23-8f42-867c655c530e
                  type: alert_routes
                  attributes:
                    name: Updated Alert Route Name
                    enabled: false
                    created_at: 2026-01-20T09:26:23.878-08:00
                    updated_at: 2026-01-20T09:26:28.979-08:00
                    alerts_source_ids:
                    - 38351f59-2ae2-493c-9122-c259cc40a45c
                    owning_team_ids: []
                    rules: []
              schema:
                $ref: '#/components/schemas/alert_route_response'
          description: "update: handles mixed position types correctly"
        "422":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: "update: raises error when multiple fallback rules are present"
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: cross-team access denied
      security:
      - bearer_auth: []
      summary: Update an alert route
      tags:
      - AlertRoutes
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routing_rules:
    get:
      description: "List alert routing rules. **Note: If you are an advanced alert\
        \ routing user, you should use the Alert Routes endpoint instead of this endpoint.\
        \ If you don't know whether you are an advanced user, please contact Rootly\
        \ customer support.**"
      operationId: listAlertRoutingRules
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_routing_rule_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert routing rules
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    post:
      description: "Creates a new alert routing rule from provided data. **Note: If\
        \ you are an advanced alert routing user, you should use the Alert Routes\
        \ endpoint instead of this endpoint. If you don't know whether you are an\
        \ advanced user, please contact Rootly customer support.**"
      operationId: createAlertRoutingRule
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_routing_rule'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 3f622fea-6a15-4b0c-babc-f56c2f352e1c
                  type: alert_routing_rules
                  attributes:
                    name: Test Alert Routing Rule 1
                    alerts_source_id: e337d1c2-ddd9-44b6-bba4-dfbc68603fb8
                    condition_type: all
                    enabled: false
                    position: 2
                    destination:
                      target_type: Group
                      target_id: f90e089c-cea8-4bfa-bcc5-62a96d2b55e0
                    created_at: 2026-01-20T09:26:43.478-08:00
                    updated_at: 2026-01-20T09:26:43.478-08:00
                    destinations:
                    - target_type: Group
                      target_id: f90e089c-cea8-4bfa-bcc5-62a96d2b55e0
                    conditions:
                    - property_field_condition_type: is_one_of
                      property_field_name: description
                      property_field_type: attribute
                      property_field_value: null
                      property_field_values:
                      - Open
                      conditionable_id: null
                      conditionable_type: null
                  relationships:
                    owning_teams:
                      data:
                      - id: f90e089c-cea8-4bfa-bcc5-62a96d2b55e0
                        type: groups
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Alert route name can't be blank
                  status: "422"
                - title: Name can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert routing rule
      tags:
      - AlertRoutingRules
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_routing_rules/{id}:
    delete:
      description: "Delete a specific alert routing rule by id. **Note: If you are\
        \ an advanced alert routing user, you should use the Alert Routes endpoint\
        \ instead of this endpoint. If you don't know whether you are an advanced\
        \ user, please contact Rootly customer support.**"
      operationId: deleteAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 2b69a1c7-eadf-414f-b10e-f0eb37f8b8a9
                  type: alert_routing_rules
                  attributes:
                    name: Alert Routing Rule 4
                    alerts_source_id: e337d1c2-ddd9-44b6-bba4-dfbc68603fb8
                    condition_type: all
                    enabled: false
                    position: 1
                    destination: null
                    created_at: 2026-01-20T09:26:41.920-08:00
                    updated_at: 2026-01-20T09:26:45.811-08:00
                    destinations: []
                    conditions: []
                  relationships:
                    owning_teams:
                      data:
                      - id: f90e089c-cea8-4bfa-bcc5-62a96d2b55e0
                        type: groups
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert routing rule
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    get:
      description: "Retrieves a specific alert routing rule by id. **Note: If you\
        \ are an advanced alert routing user, you should use the Alert Routes endpoint\
        \ instead of this endpoint. If you don't know whether you are an advanced\
        \ user, please contact Rootly customer support.**"
      operationId: getAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 2b69a1c7-eadf-414f-b10e-f0eb37f8b8a9
                  type: alert_routing_rules
                  attributes:
                    name: Alert Routing Rule 4
                    alerts_source_id: e337d1c2-ddd9-44b6-bba4-dfbc68603fb8
                    condition_type: all
                    enabled: false
                    position: 1
                    destination:
                      target_type: EscalationPolicy
                      target_id: a0f240d1-da45-40ce-85cf-c9fe5338face
                    created_at: 2026-01-20T09:26:41.920-08:00
                    updated_at: 2026-01-20T09:26:41.920-08:00
                    destinations:
                    - target_type: EscalationPolicy
                      target_id: a0f240d1-da45-40ce-85cf-c9fe5338face
                    conditions: []
                  relationships:
                    owning_teams:
                      data:
                      - id: f90e089c-cea8-4bfa-bcc5-62a96d2b55e0
                        type: groups
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert_routing_rule found by slug
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert routing rule
      tags:
      - AlertRoutingRules
      x-accepts:
      - application/vnd.api+json
    put:
      description: "Update a specific alert routing rule by id. **Note: If you are\
        \ an advanced alert routing user, you should use the Alert Routes endpoint\
        \ instead of this endpoint. If you don't know whether you are an advanced\
        \ user, please contact Rootly customer support.**"
      operationId: updateAlertRoutingRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getAlertField_id_parameter'
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_routing_rule'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 2b69a1c7-eadf-414f-b10e-f0eb37f8b8a9
                  type: alert_routing_rules
                  attributes:
                    name: Test Alert Routing Rule 1 (Updated)
                    alerts_source_id: e337d1c2-ddd9-44b6-bba4-dfbc68603fb8
                    condition_type: all
                    enabled: false
                    position: 1
                    destination:
                      target_type: EscalationPolicy
                      target_id: a0f240d1-da45-40ce-85cf-c9fe5338face
                    created_at: 2026-01-20T09:26:41.920-08:00
                    updated_at: 2026-01-20T09:26:45.031-08:00
                    destinations:
                    - target_type: EscalationPolicy
                      target_id: a0f240d1-da45-40ce-85cf-c9fe5338face
                    conditions: []
                  relationships:
                    owning_teams:
                      data:
                      - id: f90e089c-cea8-4bfa-bcc5-62a96d2b55e0
                        type: groups
              schema:
                $ref: '#/components/schemas/alert_routing_rule_response'
          description: alert routing rule updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert routing rule
      tags:
      - AlertRoutingRules
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_urgencies:
    get:
      description: List alert urgencies
      operationId: listAlertUrgencies
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][gte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[created_at][lte]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_urgency_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert urgencies
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert urgency from provided data
      operationId: createAlertUrgency
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alert_urgency'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 5253d66a-f558-45fe-a495-af4ab735959a
                  type: alert_urgencies
                  attributes:
                    name: High
                    description: Hight alert urgency
                    position: 1
                    created_at: 2026-01-20T09:26:49.746-08:00
                    updated_at: 2026-01-20T09:26:49.746-08:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency created
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
                - title: Description can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert urgency
      tags:
      - AlertUrgencies
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_urgencies/{id}:
    delete:
      description: Delete a specific alert urgency by id
      operationId: deleteAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4a265393-b52c-4833-a48b-a2ce987ff5e5
                  type: alert_urgencies
                  attributes:
                    name: 3dwmn
                    description: Qui qui ut numquam.
                    position: 1
                    created_at: 2026-01-20T09:26:47.719-08:00
                    updated_at: 2026-01-20T09:26:50.820-08:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert urgency
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert urgency by id
      operationId: getAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4a265393-b52c-4833-a48b-a2ce987ff5e5
                  type: alert_urgencies
                  attributes:
                    name: 3dwmn
                    description: Qui qui ut numquam.
                    position: 1
                    created_at: 2026-01-20T09:26:47.719-08:00
                    updated_at: 2026-01-20T09:26:47.723-08:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert urgency
      tags:
      - AlertUrgencies
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert urgency by id
      operationId: updateAlertUrgency
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alert_urgency'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 4a265393-b52c-4833-a48b-a2ce987ff5e5
                  type: alert_urgencies
                  attributes:
                    name: High (Updated)
                    description: Qui qui ut numquam.
                    position: 2
                    created_at: 2026-01-20T09:26:47.719-08:00
                    updated_at: 2026-01-20T09:26:50.476-08:00
              schema:
                $ref: '#/components/schemas/alert_urgency_response'
          description: alert urgency updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert urgency
      tags:
      - AlertUrgencies
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_sources:
    get:
      description: List alert sources
      operationId: listAlertsSources
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: "filter[search]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[statuses]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "filter[source_types]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alerts_source_list'
          description: success
      security:
      - bearer_auth: []
      summary: List alert sources
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    post:
      description: Creates a new alert source from provided data
      operationId: createAlertsSource
      parameters: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/new_alerts_source'
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 62fed645-a1ae-41e4-8ddc-7b44a91c0f84
                  type: alert_sources
                  attributes:
                    name: Email Source 1
                    source_type: email
                    status: setup_incomplete
                    secret: 5d53f559141ef5d9b5ba3a2db9f5306ca79a357e58a7f497f0071e0be807b13b
                    alert_urgency_id: 3c52445e-9f84-4fa9-8013-2d8aeb4864d6
                    created_at: 2026-01-20T09:26:54.421-08:00
                    updated_at: 2026-01-20T09:26:54.425-08:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/generic_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes: []
                    alert_source_fields_attributes:
                    - template_body: null
                      created_at: 2026-01-20T09:26:54.430-08:00
                      updated_at: 2026-01-20T09:26:54.430-08:00
                      alert_field_id: b077c38f-b1bb-43e3-b2d4-c286f64dfe6e
                      alert_field:
                        id: b077c38f-b1bb-43e3-b2d4-c286f64dfe6e
                        slug: description-field
                        name: Description Field
                        kind: description
                        created_at: 2026-01-20T09:26:52.422-08:00
                        updated_at: 2026-01-20T09:26:52.422-08:00
                    - template_body: null
                      created_at: 2026-01-20T09:26:54.434-08:00
                      updated_at: 2026-01-20T09:26:54.434-08:00
                      alert_field_id: 943e2d5a-ce55-4514-ba0c-5ed0db4bdb32
                      alert_field:
                        id: 943e2d5a-ce55-4514-ba0c-5ed0db4bdb32
                        slug: title-field
                        name: Title Field
                        kind: title
                        created_at: 2026-01-20T09:26:52.417-08:00
                        updated_at: 2026-01-20T09:26:52.417-08:00
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes:
                      id: 134e80cd-d8b3-4980-9416-e053e7b2216b
                      enabled: true
                      condition_type: all
                      identifier_json_path: $.email.subject
                      identifier_value_regex: ""
                      identifier_matchable_type: null
                      identifier_matchable_id: null
                      identifier_reference_kind: payload
                      conditions_attributes:
                      - id: bc63bfc0-8b8f-4136-91bf-e460b8e31161
                        field: $.email.subject
                        operator: is
                        value: Resolved
                        conditionable_type: null
                        conditionable_id: null
                        kind: payload
                    email: email-source-5dfe4295d55e5952eba096301b0ac44e@test.email.rootly.com
                    accept_threaded_emails: false
                  relationships:
                    alert_source_urgency_rules:
                      data: []
                    alert_source_fields:
                      data:
                      - id: af00147e-3cb5-43e3-acad-6e1baa77b6d1
                        alert_field_id: b077c38f-b1bb-43e3-b2d4-c286f64dfe6e
                        alerts_source_id: 62fed645-a1ae-41e4-8ddc-7b44a91c0f84
                        created_at: 2026-01-20T09:26:54.430-08:00
                        deleted_at: null
                        position: 1
                        template_body: null
                        updated_at: 2026-01-20T09:26:54.430-08:00
                      - id: 9bce3cff-ff3f-47d7-95df-c1e0b201c9c1
                        alert_field_id: 943e2d5a-ce55-4514-ba0c-5ed0db4bdb32
                        alerts_source_id: 62fed645-a1ae-41e4-8ddc-7b44a91c0f84
                        created_at: 2026-01-20T09:26:54.434-08:00
                        deleted_at: null
                        position: 2
                        template_body: null
                        updated_at: 2026-01-20T09:26:54.434-08:00
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source created with resolution rule
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_list'
          description: alert template attribute when alert fields are enabled
        "422":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Name can't be blank
                  status: "422"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: invalid request
        "401":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Invalid token
                  status: "401"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: responds with unauthorized for invalid token
      security:
      - bearer_auth: []
      summary: Creates an alert source
      tags:
      - AlertSources
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/alert_sources/{id}:
    delete:
      description: Delete a specific alert source by id
      operationId: deleteAlertsSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 94551a3b-2d72-4ce1-b0b0-f1e7d6bd6f2f
                  type: alert_sources
                  attributes:
                    name: Alert Source 21
                    source_type: datadog
                    status: setup_incomplete
                    secret: 77eb32c43670b3ae777d36fc769afb42ec4e0122cb93ee8fb2322c360d2cf249
                    alert_urgency_id: 3c52445e-9f84-4fa9-8013-2d8aeb4864d6
                    created_at: 2026-01-20T09:26:52.221-08:00
                    updated_at: 2026-01-20T09:26:56.181-08:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/datadog_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes: []
                    alert_source_fields_attributes: []
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes: null
                  relationships:
                    alert_source_urgency_rules:
                      data: []
                    alert_source_fields:
                      data: []
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source deleted
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Delete an alert source
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    get:
      description: Retrieves a specific alert source by id
      operationId: getAlertsSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 94551a3b-2d72-4ce1-b0b0-f1e7d6bd6f2f
                  type: alert_sources
                  attributes:
                    name: Alert Source 21
                    source_type: datadog
                    status: setup_incomplete
                    secret: 77eb32c43670b3ae777d36fc769afb42ec4e0122cb93ee8fb2322c360d2cf249
                    alert_urgency_id: 3c52445e-9f84-4fa9-8013-2d8aeb4864d6
                    created_at: 2026-01-20T09:26:52.221-08:00
                    updated_at: 2026-01-20T09:26:52.221-08:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/datadog_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes: []
                    alert_source_fields_attributes: []
                    sourceable_attributes: null
                    alert_template_attributes: null
                    resolution_rule_attributes: null
                  relationships:
                    alert_source_urgency_rules:
                      data: []
                    alert_source_fields:
                      data: []
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source found
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Retrieves an alert source
      tags:
      - AlertSources
      x-accepts:
      - application/vnd.api+json
    put:
      description: Update a specific alert source by id
      operationId: updateAlertsSource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_alerts_source'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
                  id: b2bfeed5-900d-46d2-96cd-663eec052cb1
                  type: alert_sources
                  attributes:
                    name: GW 2
                    source_type: generic_webhook
                    status: setup_incomplete
                    secret: c84322ea74c8320f3f518179eed17a2807915c65d2eae76095676adafde77fe0
                    alert_urgency_id: 3c52445e-9f84-4fa9-8013-2d8aeb4864d6
                    created_at: 2026-01-20T09:26:55.438-08:00
                    updated_at: 2026-01-20T09:26:55.521-08:00
                    webhook_endpoint: http://localhost:3001/webhooks/incoming/generic_webhooks/notify/<TYPE>/<ID>
                    owner_group_ids: []
                    alert_source_urgency_rules_attributes:
                    - id: f3fd6845-5d8f-44e3-939e-e0d61d17b781
                      json_path: $.alert.status
                      operator: is
                      value: Critical
                      alert_urgency_id: ca9db247-3c51-424f-a417-9e4aef255218
                      alerts_source_id: b2bfeed5-900d-46d2-96cd-663eec052cb1
                      created_at: 2026-01-20T09:26:55.523-08:00
                      updated_at: 2026-01-20T09:26:55.523-08:00
                      conditionable_type: null
                      conditionable_id: null
                      kind: payload
                    alert_source_fields_attributes:
                    - template_body: null
                      created_at: 2026-01-20T09:26:55.446-08:00
                      updated_at: 2026-01-20T09:26:55.446-08:00
                      alert_field_id: b077c38f-b1bb-43e3-b2d4-c286f64dfe6e
                      alert_field:
                        id: b077c38f-b1bb-43e3-b2d4-c286f64dfe6e
                        slug: description-field
                        name: Description Field
                        kind: description
                        created_at: 2026-01-20T09:26:52.422-08:00
                        updated_at: 2026-01-20T09:26:52.422-08:00
                    - template_body: null
                      created_at: 2026-01-20T09:26:55.451-08:00
                      updated_at: 2026-01-20T09:26:55.451-08:00
                      alert_field_id: 943e2d5a-ce55-4514-ba0c-5ed0db4bdb32
                      alert_field:
                        id: 943e2d5a-ce55-4514-ba0c-5ed0db4bdb32
                        slug: title-field
                        name: Title Field
                        kind: title
                        created_at: 2026-01-20T09:26:52.417-08:00
                        updated_at: 2026-01-20T09:26:52.417-08:00
                    sourceable_attributes:
                      id: a43e63fd-3c7a-456c-a99b-74ab7c487977
                      auto_resolve: false
                      resolve_state: null
                      created_at: 2026-01-20T09:26:55.424-08:00
                      updated_at: 2026-01-20T09:26:55.424-08:00
                      field_mappings_attributes: []
                      field_mappings: []
                    alert_template_attributes: null
                    resolution_rule_attributes: null
                  relationships:
                    alert_source_urgency_rules:
                      data:
                      - id: f3fd6845-5d8f-44e3-939e-e0d61d17b781
                        alert_urgency_id: ca9db247-3c51-424f-a417-9e4aef255218
                        alerts_source_id: b2bfeed5-900d-46d2-96cd-663eec052cb1
                        conditionable_id: null
                        conditionable_type: null
                        created_at: 2026-01-20T09:26:55.523-08:00
                        deleted_at: null
                        json_path: $.alert.status
                        kind: payload
                        operator: is
                        position: 1
                        updated_at: 2026-01-20T09:26:55.523-08:00
                        value: Critical
                    alert_source_fields:
                      data:
                      - id: 73b79649-2f99-4c61-85f7-bf216baba22d
                        alert_field_id: b077c38f-b1bb-43e3-b2d4-c286f64dfe6e
                        alerts_source_id: b2bfeed5-900d-46d2-96cd-663eec052cb1
                        created_at: 2026-01-20T09:26:55.446-08:00
                        deleted_at: null
                        position: 1
                        template_body: null
                        updated_at: 2026-01-20T09:26:55.446-08:00
                      - id: a2c63ad3-492c-4aef-a7ec-1efc311ee221
                        alert_field_id: 943e2d5a-ce55-4514-ba0c-5ed0db4bdb32
                        alerts_source_id: b2bfeed5-900d-46d2-96cd-663eec052cb1
                        created_at: 2026-01-20T09:26:55.451-08:00
                        deleted_at: null
                        position: 2
                        template_body: null
                        updated_at: 2026-01-20T09:26:55.451-08:00
              schema:
                $ref: '#/components/schemas/alerts_source_response'
          description: alert source updated
        "404":
          content:
            application/vnd.api+json:
              example:
                errors:
                - title: Not found or unauthorized
                  status: "404"
              schema:
                $ref: '#/components/schemas/errors_list'
          description: resource not found
      security:
      - bearer_auth: []
      summary: Update an alert source
      tags:
      - AlertSources
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /v1/incidents/{incident_id}/alerts:
    get:
      description: List incident alerts
      operationId: listIncidentAlerts
      parameters:
      - explode: false
        in: path
        name: incident_id
        required: true
        schema:
          type: string
        style: simple
      - description: "comma separated if needed. eg: environments,services,groups"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - environments
          - services
          - groups
          - responders
          - incidents
          - events
          - alert_urgency
          - heartbeat
          - live_call_router
          - alert_group
          - group_leader_alert
          - group_member_alerts
          - alert_field_values
          - alerting_targets
          - escalation_policies
          - alert_call_recording
          - alert_urgency
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/alert_list'
          description: success
      security:
      - bearer_auth: []
      summary: List Incident alerts
      tags:
      - Alerts
      x-accepts:
      - application/vnd.api+json
    post:
      description: Attach alerts to an incident from provided data
      operationId: attachAlert
      parameters:
      - explode: false
        in: path
        name: incident_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/attach_alert'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              example:
                data:
[...]
